
@{
    ViewData["Title"] = "انتقال اعتبار";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var IsCompleteProfile = ShppaingPart.Controllers.SharedLogic.IsCompeleteProfile();
}

<h1>انتقال اعتبار</h1>
@if (IsCompleteProfile == false)
{
    <div>
        برای فعال سازی کیف پول خود باید اطلاعات پروفایل خود را تکمیل کنید
    </div>

    <div>
        برای تکمیل اطلاعات پروفایل خود لینک زیر را لمس کنید:
    </div>

    <div>
        <a href="/Account/ProfileInfo" class="btn btn-primary">تکمیل اطلاعات</a>
    </div>
    return;
}


<div class="first-row row">
    <div class="panel panel-default panel-group simple">
        <div class="panel-heading">موجودی قابل برداشت</div>

        <div class="panel-body panel-group simple">

            <a href="/Wallet/Index" title="موجودی">
                <div class="green">
                    @ViewBag.Remain.ToString("N0") ريال
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 center-content">
        <label for="CartNumber">لطفا نام کاربری یا شماره موبایل طرف مقابل</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-sim-card"></i></span>
            <input name="UserName" id="UserName" class="form-control" type="text" placeholder="نام کاربری یا شماره موبایل" />
        </div>
    </div>
    <div class="col-sm-offset-4 col-sm-4 center-content">
        <label for="CartNumber">مبلغ</label>
        <div class="input-group">
            <span class="input-group-addon"><i>ريال</i></span>
            <input name="Amount" id="Amount" class="form-control" type="number" placeholder="لطفا مبلغ را به ريال وارد نمایید" />
        </div>
    </div>
    <div id="hr_step4Link" class="only-charge">
        <hr class="light-hr" />
    </div>

    <div class="col-sm-offset-4 col-sm-4 center-content">
        <button class="form-control btn-paid btn-warning form-control " id="PayBtn"> انتقال مبلغ </button>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        var amount_value = 0;
        var CreditAmount = parseInt('@ViewBag.Remain');
        function ChangeAmount(amount) {
            try {
                amount_value = amount;
            } catch (e) {
            }
        }
        $("#step3Link").show();
        $('#PayBtn').on('click', function () {
            if (amount_value > 10000 && amount_value == Math.floor(amount_value) && amount_value <= CreditAmount) {
                $('#FormAmount').val(amount_value);
                if ($('#UserName').val()) {
                    $('#FormUserName').val($('#UserName').val());
                    $('#formData').submit();
                } else {
                    alert("لطفا نام کاربری یا ایمیل طرف مقابل را وارد نمایید.");
                    $('#UserName').focus();
                }
            } else {
                alert("مبلغ نمی تواند کمتر از 10000، دارای اعشار و همچنین بیشتر از اعتبار فعلی شما باشد");
                    $('#Amount').focus();
            }

        });
        $('#Amount').on('keyup', function () {
            if (isInteger($('#Amount').val()))
                ChangeAmount(parseInt($('#Amount').val()));
        });
        $('#Amount').on('change', function () {
            if (isInteger($('#Amount').val()))
                ChangeAmount(parseInt($('#Amount').val()));
        });
        function isInteger(num) {
            try {
                var i = parseInt(num);
                return true;
            } catch (e) {
                return false;

            }
        }
    </script>
    <style>
        #Amount, #UserName {
            font-size: smaller;
        }
    </style>
}
<form method="post" action="/Wallet/Transfer" id="formData">
    <input type="hidden" name="Amount" id="FormAmount" value="" />
    <input type="hidden" name="ToUserName" id="FormUserName" value="" />
</form>