@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims


@{
    var userid = "";

    var token = "";
    if (User.Identity.IsAuthenticated)
    {
        userid = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
        try
        {
            token = HttpContextAccessor.HttpContext.Session.GetString(userid + "-tokenFCM");
        }
        catch { }
    }
    var onlyLogginPage = false;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");

    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form action"/Account/Logout"  method="post" id="logoutForm">
        <ul class="nav navbar-nav">
            <li>
                <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
            </li>
            <li>
                <a href="/Transactions/Index" title="لیست تراکنشها">لیست تراکنشها</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Info" asp-action="Messages" title="صندوق پیام و پاسخ">صندوق پیام و پاسخ</a>
            </li>
            <li>
                <a href="/Wallet/Index" title="کیف اعتبار">کیف اعتبار</a>
            </li>
            <li>
                <a title="معرف" data-toggle="modal" data-target="#IntroducerModal"><img src="~/Mobile/ico/introducer.png" />معرف</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="تنظیمات">تنظیمات</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Search" asp-action="Index" title="جست و جو"><i class="glyphicon glyphicon-search"></i></a>
            </li>
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="مقدار اعتبار" id="creditA"></a>
            </li>
            <li>
                @Html.AntiForgeryToken()
                <input type="hidden" value="@token" name="FCMToken" />
                <button type="submit" class="btn btn-link navbar-btn navbar-link">خروج</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav">
        @if (onlyLogginPage==false)
        {
            <li>
                <a asp-area="" asp-controller="Info" asp-action="Index" title="صفحه اصلی">صفحه اصلی</a>
            </li>
        }
        <li><a asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">ورود</a></li>
    </ul>
}

