@{
    ViewData["Title"] = "Access denied";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">شما به این صفحه دسترسی ندارید.</p>
</header>
