@{
    ViewData["Title"] = "Confirm email";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        @*Thank you for confirming your email.*@
        باسپاس از تایید ایمیلتان.
    </p>
</div>
