@{
    ViewData["Title"] = "تاییده فراموشی رمز عبور";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    @*Please check your email to reset your password.*@
    لطفا ایمیلتان/موبایلتان را برای تغییر رمز عبور بررسی کنید.
</p>
