@{
    ViewData["Title"] = "مسدودسازی حساب کاربری";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">@*This account has been locked out, please try again later.*@</p>
    <p class="text-danger">این حساب کاربری مسدود شد، لطفا بعدا تلاش کنید.</p>
</header>
