@{
    ViewData["Title"] = "تایید تغییر رمز عبور";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>
    @*Your password has been reset. Please <a asp-action="Login">click here to log in</a>.*@
    رمز عبور شما تغییر کرد. لطفا <a asp-action="Login">برای ورود اینجا کلیک کنید</a>.
</p>
