
.form-control {
    text-align: center;
    margin: 5px;
}

.container, .container-sm {
    margin-top: 5px;
}
.bbar {
    display: none;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
 
    margin-top: 45%;
}