
@{
    ViewData["Title"] = "آگهی ها";
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    sanitizer.AllowedTags.Add("iframe");
    sanitizer.AllowedTags.Add("style");
    sanitizer.AllowedCssProperties.Add("position");
    sanitizer.AllowedAttributes.Add("class");
    sanitizer.AllowedAttributes.Add("mozallowfullscreen");
    sanitizer.AllowedAttributes.Add("webkitallowfullscreen");
    sanitizer.AllowedAttributes.Add("allowFullScreen");
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>آگهی ها</h1>

<div class="row" dir="rtl">

@if (ViewBag.Advertising != null)
{
    if (ViewBag.Advertising.Tables[0] != null && ViewBag.Advertising.Tables[0].Rows.Count > 0)
    {
        @for (int i = 0; i < ViewBag.Advertising.Tables[0].Rows.Count; i++)
        {

                <div class="col-md-6 aparat">
                        <div class="mb-2">@ViewBag.Advertising.Tables[0].Rows[i]["Name"]</div>
                        <div>
                            @if (ViewBag.Advertising.Tables[0].Rows[i]["AparatLink"] != null && ViewBag.Advertising.Tables[0].Rows[i]["AparatLink"].ToString().Length > 0)
                            {
                                @Html.Raw(sanitizer.Sanitize(ViewBag.Advertising.Tables[0].Rows[i]["AparatLink"], "https://www.aparat.com"))

                            }
                            @if (ViewBag.Advertising.Tables[0].Rows[i]["Desc"] != null && ViewBag.Advertising.Tables[0].Rows[i]["Desc"].ToString().Length > 0)
                            {
                                @Html.Raw(sanitizer.Sanitize(ViewBag.Advertising.Tables[0].Rows[i]["Desc"], "https://www.aparat.com"))

                            }
                        </div>
                </div>
            
        }
    }
}
</div>

