@{
    ViewData["Title"] = "CommingSoon";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>در دست راه اندازی 
    <span class="backb"><a href="javascript:history.back()"><i class="icon-arrow-left"></i> بازگشت</a></span>
</h1>

<div class="row">
	<div class="col-12 text-center mb-4 ">
		<h3 class="coming">بزودی با امکانات بیشتری همراهتان خواهیم بود </h3>
	</div>
	<div class="col-12 text-center">
		<img src="../new/img/coming.png" class="img-fluid" />
	</div>
</div>
