
@{
    ViewData["Title"] = "برنامه درآمدزایی";
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    sanitizer.AllowedTags.Add("iframe");
    sanitizer.AllowedTags.Add("style");
    sanitizer.AllowedCssProperties.Add("position");
    sanitizer.AllowedAttributes.Add("class");
    sanitizer.AllowedAttributes.Add("mozallowfullscreen");
    sanitizer.AllowedAttributes.Add("webkitallowfullscreen");
    sanitizer.AllowedAttributes.Add("allowFullScreen");
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<div class="col-12 titlee three">
<h1>برنامه درآمدزایی</h1>
</div>


@if (ViewBag.IncomeGeneration != null)
{
    if (ViewBag.IncomeGeneration.Tables[0] != null && ViewBag.IncomeGeneration.Tables[0].Rows.Count > 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@ViewBag.IncomeGeneration.Tables[0].Rows[0]["Name"]</div>
            <div class="panel-body">
                <h4>
                    @Html.Raw(sanitizer.Sanitize(ViewBag.IncomeGeneration.Tables[0].Rows[0]["Desc"], "https://www.aparat.com"))
                </h4>
            </div>
        </div>
        @if (ViewBag.IncomeGeneration.Tables[0].Rows[0]["AparatLink"] == null)

        {
            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.Raw(sanitizer.Sanitize(ViewBag.IncomeGeneration.Tables[0].Rows[0]["AparatLink"], "https://www.aparat.com"))
                </div>
            </div>
        }
    }
}




