@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


@{
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    ViewData["Title"] = "همپیشه";
    // Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    else
        onlyLogginPage = false;
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;

}


@if (onlyLogginPage)
{
    @section Header
    {
    <link rel="stylesheet" href="/onboard/reset.min.css" />
    <link rel='stylesheet' href="/onboard/style.css" />
    <script>
        window.console = window.console || function (t) { };

    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>
    }
}

@if (User.Identity.IsAuthenticated)
{

    <div class="row pro-desk r3e">
        <div class="col-4 mb-4">
            <a href="~/Info/Insurance">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/bime.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/bime.jpg" />
                </div>
            </a>
        </div>



        <div class="col-4 mb-4">
            <a href="~/Info/CommingSoon">
                @*<a href="/Sale/Index?WorkflowId=1021">*@
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/filimo.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/filimo.jpg" />
                </div>
            </a>
        </div>

		@* <div class="col-4 mb-4">
            <a href="~/Info/CommingSoon">
                //<a href="/Info/Mobile?page=net">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/net.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/net.jpg" />
                </div>
            </a>
			</div>*@

        <div class="col-4 mb-4  mt-3">
            <a href="/Sale/Index?WorkflowId=1018">
                @* <a href="/Sale/Index?WorkflowId=1018"*@
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/car.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/car.jpg" />
                </div>
            </a>
        </div>

        <div class="col-4 mb-4 mt-3">
            <a href="~/Info/CommingSoon">
                @*<a href="/Sale/Index?WorkflowId=1021">*@
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/fun.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/fun.jpg" />
                </div>
            </a>
        </div>

        @* <div class="col-4 mb-4 mt-3">
            // <a href="~/Info/CommingSoon">                
            <a href="/Info/Mobile?page=charge">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/charge.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/charge.jpg" />
                </div>
            </a>
		</div>*@

    </div>

    <div class="row pro-mob">
        <div class="owl-carousel owl-1 stik">

            @*@Html.Raw(ViewBag.ParentMenu)*@
            <div class="snapd"><div class="card-bg"><video autoplay muted loop><source src=/new/img/bg.mp4 type=video/mp4 /></video><img class="bg-img" src=/new/img/card/travel.png />  </div> </div>
            <div class="snapd"><div class="card-bg"><img class="bg-img" src=/new/img/card/bime.jpg />  </div> </div>
            <div class="snapd"><div class="card-bg"><video autoplay muted loop><source src=/new/img/bg.mp4 type=video/mp4 /></video><img class="bg-img" src=/new/img/card/dash.png />  </div> </div>
            <div class="snapd"><div class="card-bg"><img class="bg-img" src=/new/img/card/ghabz.jpg />  </div> </div>
            <div class="snapd"><div class="card-bg"><img class="bg-img" src=/new/img/card/banki.jpg />  </div> </div>
            <div class="snapd"><div class="card-bg"><video autoplay muted loop><source src=/new/img/car.mp4 type=video/mp4 /></video><img class="bg-img" src=/new/img/card/car.png />  </div> </div>
            <div class="snapd"><div class="card-bg"><img class="bg-img" src=/new/img/card/fun.jpg />  </div> </div>

        </div>
    </div>

    <div class="carousel-nav">


        <section class="contentPost"><div class="columns"><div class="column ibtn lo10"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/travel/bw/travelling.png" />بلیط هواپیما </div></a></div><div class="column ibtn lo11"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/travel/bw/train.png" />بلیط قطار </div></a></div><div class="column ibtn lo12"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/travel/bw/bus-school.png" />اتوبوس </div></a></div><div class="column ibtn lo13"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/travel/bw/hotel.png" />هتل </div></a></div><div class="column ibtn lo14"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/travel/bw/travel-luggage.png" />تور </div></a></div><div class="column ibtn lo15"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/bomgardi.png" />بوم گردی </div></a></div></div></section>

        <section class="contentPost"><div class="columns"><div class="column ibtn lo1"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/haealth-insurance.png" />زندگی </div></a></div><div class="column ibtn lo2"><a href="/Sale/index?workflowid=1034"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/accident.png" />حوادث </div></a></div><div class="column ibtn lo3"><a href="/Sale/Index?WorkFlowId=1035"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/health-insurance.png" />درمان </div></a></div><div class="column ibtn lo4"><a href="/Sale/Index?WorkFlowId=1033&ThirdType=1"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/fender-bender.png" />ثالث </div></a></div><div class="column ibtn lo5"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/insurance.png" />بدنه </div></a></div><div class="column ibtn lo6"><a href="Sale/Index?WorkFlowId=1033&ThirdType=2"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/motorbike.png" />موتور </div></a></div><div class="column ibtn lo7"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/doctor.png" />پزشکان </div></a></div><div class="column ibtn lo8"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/conflagration.png" />آتش سوزی </div></a></div><div class="column ibtn lo9"><a href="/Sale/Index?WorkFlowId=99"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/ins/bw/calendar.png" />اقساط </div></a></div></div></section>
        
        <section class="contentPost xshow"><div class="columns"><div class="column ibtn lo1"><a href="/Info/PhoneNet" class=""><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/network.png" />بسته اینترنت </div></a></div><div class="column ibtn lo2"><a href="/Info/PhoneCharge"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/sim.png" />شارژ </div></a></div><div class="column ibtn lo3"><a href="#" class="insu"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/insurance.png" />بیمه </div></a></div><div class="column ibtn lo4"><a href="#" class="bank"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/bank.png" />خدمات بانکی  </div></a></div><div class="column ibtn lo5"><a href="#" class="ghabz"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/bill.png" />قبوض </div></a></div><div class="column ibtn lo6"><a href="#" class="travel"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/travel.png" />سفروگردشگری </div></a></div><div class="column ibtn lo7"><a href="#" class="cars"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/car.png" />خدمات خودرو </div></a></div><div class="column ibtn lo8"><a href="#" class="funn"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/fun.png" />تفریح و سرگرمی </div></a></div><div class="column ibtn lo9"><a href="#" class="acad"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/graduated.png" />آکادمی </div></a></div><div class="column ibtn lo10"><a href="#" class="kamp"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/camp.png" />کمپین ها </div></a></div><div class="column ibtn lo11"><a href="/Info/CommingSoon" class="kamp"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/Lawyer-bro-600x600.png" />مشاور حقوقی </div></a></div><div class="column ibtn lo12"><a href="/Info/CommingSoon" class="kamp"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/jashnvareh.png" />جشنواره </div></a></div></div></section>

        <section class="contentPost"><div class="columns"><div class="column ibtn lo1"><a href="/Bills/Index?BillId=3024"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/bargh.png" />قبض برق </div></a></div><div class="column ibtn lo2"><a href="/Bills/Index?BillId=2023"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/ab.png" />قبض آب </div></a></div><div class="column ibtn lo3"><a href="/Bills/Index?BillId=3023"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/gas.png" />قبض گاز </div></a></div><div class="column ibtn lo4"><a href="/Bills/Index?BillId=3025"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/mokh.png" />قبض تلفن </div></a></div><div class="column ibtn lo5"><a href="/Bills/Index?BillId=3026"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/sim.png" />قبض موبایل </div></a></div><div class="column ibtn lo6"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/TBox-4.png" />پرداخت با شناسه </div></a></div></div></section>


        <section class="contentPost"><div class="columns"><div class="column ibtn lo1"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/credit.png" />کارت به کارت </div></a></div><div class="column ibtn lo2"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/money.png" />مانده موجودی </div></a></div><div class="column ibtn lo3"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/satna.png" />ساتنا </div></a></div><div class="column ibtn lo4"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/paya.png" />پایا </div></a></div><div class="column ibtn lo5"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/satna.png" />شبا </div></a></div><div class="column ibtn lo6"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/cheque1.png" />ثبت چک سیادی </div></a></div><div class="column ibtn lo7"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bank/bw/cheque.png" />استعلام چک </div></a></div></div></section>


        <section class="contentPost"><div class="columns"><div class="column ibtn lo1"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/plus.png" />افزودن پلاک </div></a></div><div class="column ibtn lo2"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/road.png" />عوارض آزادراه </div></a></div><div class="column ibtn lo3"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/police.png" />خلافی </div></a></div><div class="column ibtn lo4"><a href="/Sale/Index?WorkflowId=1018"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/emdad.png" /> امداد خودرو </div></a></div><div class="column ibtn lo5"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/carbill.png" /> عوارض سالیانه </div></a></div><div class="column ibtn lo6"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/car/bw/cctv-camera.png" /> محدوده ترافیک </div></a></div></div></section>


        <section class="contentPost"><div class="columns"><div class="column ibtn lo1"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/filmnet.png" />فیلم نت </div></a></div><div class="column ibtn lo2"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/nemava.png" />نماوا </div></a></div><div class="column ibtn lo3"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/filimo.png" />فیلیمو </div></a></div><div class="column ibtn lo4"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/cinema.png" />سینما </div></a></div><div class="column ibtn lo5"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/theater.png" />تئاتر </div></a></div><div class="column ibtn lo6"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/concert.png" />کنسرت </div></a></div><div class="column ibtn lo7"><a href="/Info/CommingSoon"><div class="i-btn c-btn c-dark"><img src="/new/img/nicon/bw/apple-touch-icon.png" />استخریار </div></a></div></div></section>



    </div>


    <div id="lifemenu" class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog w-100 mw-100 modal-custom modal-bottom">
            <div class="modal-content w-100 h-100 border-0 rounded-30">
                <div class="modal-header text-left bg-gg rounded-30">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>بیمه زندگی</h4>
                </div>
                <div class="modal-body">
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=5">
                            <img src="new/img/oplus.png" class="ssmg" />
                            <div class="mb-3">+ عمر</div>
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=3">
                            <img src="new/img/academy.png" class="ssmg" />
                            <div class="mb-3">آتیه </div>
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=2">
                            <img src="new/img/mother.png" class="ssmg mt-3" />
                            خانه دار
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=1">
                            <img src="new/img/money-bag.png" class="ssmg mt-3" />
                            سرمایه گذاری

                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <script src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-Q4GEli30r5Awgb/ITt925nE8buHKjVWM/x3DX8t5JwRLT9P/C2r7u7XzNwvpTTGw">
    </script>
    <script src="~/Content/js/Utils.js" asp-append-version="true"></script>

    <div id="root-master">
    </div>
    <script>
        ReloadLogin();
    </script>

}

@section Scripts{
    <script type="text/javascript" src="~/bcSwipe-master/jquery.bcSwipe.min.js"></script>
    <script type="text/javascript">
        $('.company-box').on('click', function () {
            var id = $(this).data('id');
            $.post('/Info/CompanyDetails', { id: id }, function (data, status) {
                $('#CompanyModalShower').trigger('click');
                $('#CompanyModalShowerLabel').html('اطلاعات شرکت ' + data.name);
                var dataDesc = data.desc;
                dataDesc += data.aparatLink;
                $('#CompanyDesc').html(dataDesc);
            });
        });
        $('#Generation').on('click', function () { window.location.href = "/Info/IncomeGeneration"; });
        $('#BI').on('click', function () { window.location.href = "/Info/BIReport"; });
        $('#Survey').on('click', function () { window.location.href = "/Surveys/Index"; });
        $('#Adv').on('click', function () { window.location.href = "/Info/Advertising"; });
        $('#News').on('click', function () { window.location.href = "/Info/News"; });
        $('#Academy').on('click', function () { window.location.href = "/Info/Academy"; });

    </script>

    <script>
        $(window).on('load', function () {
            if ($('.container').find('img').length > 0) {
                $('.container').find('img').each(function (index, elem) {
                    var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
                    $(this).addClass(imgClass);
                });
            }
        });
    </script>
    <!-- Button trigger modal -->
    <button type="button" id="CompanyModalShower" class="btn btn-primary" data-toggle="modal" style="display:none"
            data-target="#CompanyModalShower">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="CompanyModalShower" tabindex="-1" role="dialog" aria-labelledby="CompanyModalShowerLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CompanyModalShowerLabel">اطلاعات شرکت</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="CompanyDesc"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @if (onlyLogginPage)
    {
        <script src="/onboard/slick.min.js"></script>
        <script id="rendered-js">
            $('.slider').slick({
                arrows: false,
                dots: true,
                infinite: false,
                speed: 0,
                focusOnSelect: false,
                customPaging: function (slider, i) {
                    return '<a><svg width="100%" height="100%" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4"></circle><ellipse cx="8" cy="8" rx="8" ry="4"></ellipse> </svg></a>';
                }
            }).on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                $('.item').removeClass('from-right from-left ready');
                c = currentSlide < nextSlide ? 'from-right' : 'from-left';
                $('.item').eq(nextSlide).addClass(c);
            }).on('afterChange', function (event, slick, currentSlide) {
                $('.item').eq(currentSlide).addClass('ready');
            });
            var timer = setInterval(function () {
                if ($($('.onboard li')[0]).attr('class') == "slick-active")
                    $($('.onboard li')[1]).trigger('click');
                else if ($($('.onboard li')[1]).attr('class') == "slick-active")
                    $($('.onboard li')[2]).trigger('click');
                else if ($($('.onboard li')[2]).attr('class') == "slick-active") {
                    $($('.ready')[0]).trigger('click');
                    clearInterval(timer);
                }
            }, 4000);
            $('.ready').on('click', function () { $('.onboard').hide(); $('.login').show(); })
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                //# sourceURL=pen.js

        </script>
        HttpContextAccessor.HttpContext.Session.Remove("OnlyLoggin");

    }
    }


@if (false && SignInManager.IsSignedIn(User) && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="first-row row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/UserInfo">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت کاربران
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="/Info/BIReport">
                <div class="panel panel-default">
                    <div class="panel-body">
                        گزارشات BI
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/WalletRequestCredits">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت کیف اعتبار
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/TransactionProductTypes">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت محصولات
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/MLMPlans">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت هدیه ها
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Survey">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت نظرسنجی
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Transactions">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت تراکنش ها
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/News">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت اخبار
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Advertisings">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت آگهی ها
                    </div>
                </div>
            </a>
        </div>

    </div>
}


