@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using ShppaingPart.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "همپیشه";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var onlyLogginPage = true;
    var onlyLogin = HttpContextAccessor.HttpContext.Session.GetString("OnlyLoggin");
    if (string.IsNullOrEmpty(onlyLogin) == false)
        onlyLogginPage = onlyLogin == "OnlyLoggin";
    else
        onlyLogginPage = false;
    if (onlyLogginPage && User.Identity.IsAuthenticated)
        onlyLogginPage = false;

}


@if (onlyLogginPage)
{
    @section Header{
<link rel="stylesheet" href="/onboard/reset.min.css" />
<link rel='stylesheet' href="/onboard/style.css" />
<script>
    window.console = window.console || function (t) { };
</script>
<script>
    if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
    }
</script>
}
}
@if (onlyLogginPage == false)
{


    <div class="row pro-desk r3e">

        <div class="col-4 mb-4">
            <a href="/Info/Insurance">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/bime.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/bime.jpg" />
                </div>
            </a>
        </div>



        <div class="col-4 mb-4">
            <a href="/Sale/Index?WorkflowId=1021">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/filimo.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/filimo.jpg" />
                </div>
            </a>
        </div>

        <div class="col-4 mb-4">
            <a href="/Info/Mobile?page=net">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/net.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/net.jpg" />
                </div>
            </a>
        </div>

        <div class="col-4 mb-4  mt-3">
            <a href="/Sale/Index?WorkflowId=1018">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/car.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/car.jpg" />
                </div>
            </a>
        </div>

        <div class="col-4 mb-4 mt-3">
            <a href="/Sale/Index?WorkflowId=1021">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/fun.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/fun.jpg" />
                </div>
            </a>
        </div>

        <div class="col-4 mb-4 mt-3">
            <a href="/Info/Mobile?page=charge">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/charge.jpg" />
                </div>
                <div class="shadow">
                    <img class="shadow-img" src="/new/img/card/charge.jpg" />
                </div>
            </a>
        </div>

    </div>

    <div class="row pro-mob">


        <div class="owl-carousel owl-1 stik">


            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/net.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/net.jpg" />
                </div>*@
            </div>

            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/travel.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/travel.jpg" />
                </div>*@
            </div>

            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/bime.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/bime.jpg" />
                </div>*@
            </div>

            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/meftah.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/bime.jpg" />
                </div>*@
            </div>


            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/charge.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/charge.jpg" />
                </div>*@
            </div>


            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/ghabz.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/ghabz.jpg" />
                </div>*@
            </div>


            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/banki.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/banki.jpg" />
                </div>*@
            </div>

            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/car.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/car.jpg" />
                </div>*@
            </div>

            <div class="snapd">
                <div class="card-bg">
                    <img class="bg-img" src="/new/img/card/fun.jpg" />
                </div>
                @*<div class="shadow">
                    <img class="shadow-img" src="/new/img/card/fun.jpg" />
                </div>*@
            </div>

            
            
        </div>

            <div class=" carousel-nav">
            

            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=net&Op=mci">
                            <img src="new/img/mci.png" class="ssmg2" />
                            همراه اول
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=net&Op=mtn">
                            <img src="new/img/irancell.png" class="ssmg2" />
                            ایرانسل
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=net&Op=rtl">
                            <img src="new/img/rightel.png" />
                            رایتل
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/talia.png" class="ssmg2" />
                            تالیا
                        </a>
                    </div>
 
                    <div class="clearfix"></div>
                </div>

            </section>


            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/plane.png" class="ssmg3" />
                            بلیط هواپیما
                            <div class="ls-border"></div>
                            <div class="bl-border"></div> 
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/train.png" />
                            بلیط قطار
                            <div class="br-border"></div>
                        </a>
                    </div>
                    

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/bus.png" />
                            اتوبوس
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/hotel.png" />
                            هتل

                            <div class="br-border"></div>
                        </a>
                    </div>


                    <div class="mli">
                        <a href="Info/CommingSoon">
                        <img src="new/img/nature.png" class="ssmg2" />
                            بوم گردی
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                        <img src="new/img/tour.png" />
                            تور 
                        </a>
                    </div>


                    <div class="clearfix"></div>

                    

                    
                </div>
            </section>




            <section class="xshow">

                <div class="mlinks">

                    <div class="mli">
                        <a href="#" data-target="#lifemenu" data-toggle="modal">
                            <img src="new/img/life-insurance.png" />
                             زندگی
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="sale/index?workflowid=1034">
                            <img src="new/img/slip.png" />
                             حوادث
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1035">
                            <img src="new/img/examination.png" />
                             درمان
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1033&ThirdType=1">
                            <img src="new/img/protection.png" />
                             ثالث

                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/accident.png" />
                             بدنه
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1033&ThirdType=2">
                            <img src="new/img/motorbike.png" />
                             موتور

                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/doctor.png" />
                             پزشکان
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/fire.png" />
                            آتش سوزی

                            <div class="br-border"></div>
                        </a>
                    </div>


                    <div class="mli">
                        <a href="/Sale/Index?WorkFlowId=99">
                            <img src="new/img/installment.png" />
                             اقساط
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="OfflineInsurance">
                            <img src="new/img/my.png" />
                            بیمه های من

                            <div class="br-border"></div>
                        </a>
                    </div>


                    <div class="mli">
                        <a href="OfflineInsurance/WageConfirmed">
                        <img src="new/img/salary.png" />
                             کارمزد 
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                        </a>
                    </div>


                    <div class="clearfix"></div>

                    

                    
                </div>
            </section>



            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/meftah.png" class="ssmg2" />
                            درباره مفتاح
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/shopping-cart.png" />
                            فروشگاه
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/mortarboard.png" />
                            آکادمی
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/edit.png" />
                            سایت (ثبت نام)

                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </section>


            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=charge&Op=mci">
                            <img src="new/img/mci.png" class="ssmg2" />
                            همراه اول
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=charge&Op=mtn">
                            <img src="new/img/irancell.png" class="ssmg2" />
                            ایرانسل
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="OpratorService/Index?serviceType=charge&Op=rtl">
                            <img src="new/img/rightel.png" />
                            رایتل
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/talia.png" class="ssmg2" />
                            تالیا

                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </section>


            <section>

                <div class="mlinks">
                    
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/bargh.png" />
                            قبض برق
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/mokha.png" /> 
                            قبض تلفن
                            <div class="br-border"></div>
                        </a>
                    </div>
                


                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/mci.png" class="ssmg2" />
                            قبض همراه اول
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                        <img src="new/img/irancell.png" class="ssmg2" />
                            قبض ایرانسل
                        </a>
                    </div>
 
                    <div class="clearfix"></div>
                </div>

            </section>




            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/credit-card.png" />
                            کارت به کارت
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/banknotes.png" />
                            مانده موجودی
                            <div class="br-border"></div>
                        </a>
                    </div>


                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/satna.png" class="ssmg2" />
                            ساتنا
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/satna.png" class="ssmg2" />
                            پایا

                            <div class="br-border"></div>
                        </a>
                    </div>
                    

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/shaba.png" class="ssmg2" /> 
                            شبا
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/bill.png" /> 
                            پرداخت قبض از حساب

                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Info/CommingSoon">
                        <img src="new/img/check-book.png" />
                            ثبت چک صیادی
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="#">
                            <img src="new/img/payment-check.png" />
                            استعلام صادر کننده چک
                            
                        </a>
                    </div>


                    <div class="clearfix"></div>

                    

                    
                </div>
            </section>





            <section>
                
                <div class="mlinks">
                    
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/addcar.png" />
                            افزودن پلاک
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/work-tools.png" />
                            عوارض آزادراه
                            <div class="br-border"></div>
                        </a>
                    </div>
                    

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/policeman.png" />
                            خلافی
                            <div class="l-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        
                            <a href="Info/CommingSoon">
                            <img src="new/img/maintenance.png" />
                            اشتراک امداد خودرو
                            <div class="br-border"></div>
                        </a>
                    </div>


                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/electric-car.png" /> 
                            عوارض سالیانه خودرو
                       
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                        <img src="new/img/warning.png" class="ssmg2" />
                            عوارض محدوده ترافیک
                        </a>
                    </div>


                    <div class="clearfix"></div>

                    

                    
                </div>
            </section>




            <section>
                <div class="mlinks">

                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/live-music.png" />
                            کنسرت
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Info/CommingSoon">
                            <img src="new/img/cinema1.png" />
                            سینما
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli pt-4">
                        <a href="Sale/Index?WorkflowId=1021">
                            <img src="new/img/filimoo.png" />
                            فیلیمو
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli pt-4">
                        <a href="Sale/Index?WorkFlowId=1033&ThirdType=2">
                            <img src="new/img/filmnet.png" />
                            فیلم نت

                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </section>




            

        </div>


        
    </div>



    <div id="lifemenu" class="modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog w-100 mw-100 modal-custom modal-bottom">
            <div class="modal-content w-100 h-100 border-0 rounded-30">
                <div class="modal-header text-left bg-gg rounded-30">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4>بیمه زندگی</h4>
                </div>
                <div class="modal-body">
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=5">
                            <img src="new/img/oplus.png" class="ssmg" />
                            <div class="mb-3">+ عمر</div>
                            <div class="ls-border"></div>
                            <div class="bl-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=3">
                            <img src="new/img/academy.png" class="ssmg" />
                            <div class="mb-3">آتیه </div>
                            <div class="br-border"></div>
                        </a>
                    </div>

                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=2">
                            <img src="new/img/mother.png" class="ssmg mt-3" />
                            خانه دار
                            <div class="lbs-border"></div>
                        </a>
                    </div>
                    <div class="mli">
                        <a href="Sale/Index?WorkFlowId=1032&lifeType=1">
                            <img src="new/img/money-bag.png" class="ssmg mt-3" />
                            سرمایه گذاری

                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>



    @* <section class="row r3s">
            <div class="col-4 col-md-2">
                <div id="Academy" class="ads-boxz">
                    <img src="../new/img/academy.png">
                    <div>آکادمی </div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div id="News" class="ads-boxz">
                    <img src="../new/img/radio.png">
                    <div>اخبار</div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div id="Adv" class="ads-boxz">
                    <img src="../new/img/news.png">
                    <div>آگهی ها</div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div id="Survey" class="ads-boxz">
                    <img src="../new/img/vote.png">
                    <div> نظرسنجی</div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div id="BI" class="ads-boxz">
                    <img src="../new/img/chart.png">
                    <div>گزارشات BI</div>
                </div>
            </div>
            <div class="col-4 col-md-2">
                <div id="Generation" class="ads-boxz">
                    <img src="../new/img/debit.png">
                    <div> درآمدزایی</div>
                </div>
            </div>

        </section> *@


    @* <div class="row">
        <div class="col-12 text-center">
            <hr />
        </div>
        <div class="col text-left foo">
            <img src="../new/img/fleft.png" />
        </div>
        <div class="col text-center">
            <img src="../new/img/united.png" class="mb-3" width="64px" />
            <h5 class="greenC">@ViewBag.UserCounter</h5>
            <div class="mmcc">تعداد همپیشه ها تا کنون</div>
        </div>
        <div class="col text-right foo">
            <img src="../new/img/fright.png" />
        </div>
        <div class="col-12 mmcv text-center">تعداد همپیشه ها تا کنون</div>
    </div> *@


}
else
{
    <div id="onboard">
        <div class="onboard">
            <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
                <div class="carousel-inner ccx">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../new/img/s1.png" alt="First slide">
                        <div class="slidec"></div>
                        <div class="carousel-caption fcapt">
                            <h5>تو خونه بیکاری و حوصله‌ت سر رفته؟</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../new/img/s2.png" alt="Second slide">
                        <div class="slidec"></div>
                        <div class="carousel-caption fcapt">
                            <h5>واسه آیندت سرمایه گذاری کن</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../new/img/s3.png" alt="Third slide">
                        <div class="slidec"></div>
                        <div class="carousel-caption fcapt">
                            <h5>از دوستان و آشناهات دعوت کن</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="cta ready btn btn-success">آماده شروع هستم</a>
            </div>
        </div>



        <div id="carouselExampleIndicators" dir="ltr" class="carousel slide sliv" data-ride="carousel">
            <div class="carousel-inner ccx">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="../new/img/rich.png" alt="First slide">
                    <div class="slidec"></div>
                    <div class="carousel-caption fcapt">
                        <h5>می‌خوای بدونی چه جوری پولدار شدم؟ </h5>

                    </div>
                </div>
            </div>
            <div class="text-center text-danger" style="margin-top: -30px; margin-bottom: 30px;">
                همین حالا ثبت نام کن
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col">
                    <a href="/Account/Register?SkipOnboard=true" class="btn btn-primary btn-block">ثبت نام</a>
                </div>
                <div class="col">
                    <a href="/Account/LoginPage?SkipOnboard=true" class="btn btn-success btn-block">ورود</a>
                </div>
            </div>
        </div>




    </div>
}

@section Scripts{
<script type="text/javascript" src="~/bcSwipe-master/jquery.bcSwipe.min.js"></script>
<script type="text/javascript">
    $('.company-box').on('click', function () {
        var id = $(this).data('id');
        $.post('/Info/CompanyDetails', { id: id }, function (data, status) {
            $('#CompanyModalShower').trigger('click');
            $('#CompanyModalShowerLabel').html('اطلاعات شرکت ' + data.name);
            var dataDesc = data.desc;
            dataDesc += data.aparatLink;
            $('#CompanyDesc').html(dataDesc);
        });
    });
    $('#Generation').on('click', function () { window.location.href = "/Info/IncomeGeneration"; });
    $('#BI').on('click', function () { window.location.href = "/Info/BIReport"; });
    $('#Survey').on('click', function () { window.location.href = "/Surveys/Index"; });
    $('#Adv').on('click', function () { window.location.href = "/Info/Advertising"; });
    $('#News').on('click', function () { window.location.href = "/Info/News"; });
    $('#Academy').on('click', function () { window.location.href = "/Info/Academy"; });
        //var toggle = true;
        //$(".carousel").bcSwipe({ threshold: 50 });
        //var toggle = true;

        // function changePage() {
        // 	if(toggle)
        // 	{
        // 		$('#next').html('<i class="fa fa-circle-notch"></i>');
        // 	$('#prev').html('<i class="fa fa-circle"></i>');
        // 	}else{
        // 		$('#next').html('<i class="fa fa-circle"></i>');
        // 		$('#prev').html('<i class="fa fa-circle-notch"></i>');
        // 	}

        // 	toggle=!toggle;
        // }
        //$('#next').on('click', function () {
        //    $($(".carousel")[0]).carousel('next');
        //});
        //$('#prev').on('click', function () {
        //    $($(".carousel")[0]).carousel('prev');
        //});
        //var x = setInterval(function () {
        //    if ($($('.menu-sec .item')[0]).hasClass('active') && toggle == false) {
        //        $('#next').html('<img src="/Mobile/dot.png" />');
        //        $('#prev').html('<img src="/Mobile/dot-e.png" />');
        //        toggle = true;
        //    } else
        //        if ($($('.menu-sec .item')[0]).hasClass('active') == false && toggle == true) {
        //            $('#next').html('<img src="/Mobile/dot-e.png" />');
        //            $('#prev').html('<img src="/Mobile/dot.png" />');
        //            toggle = false;
        //        }
        //}, 100);
</script>

<script>
    $(window).on('load', function () {
        if ($('.container').find('img').length > 0) {
            $('.container').find('img').each(function (index, elem) {
                var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
                $(this).addClass(imgClass);
            });
        }
    });
</script>
<!-- Button trigger modal -->
<button type="button" id="CompanyModalShower" class="btn btn-primary" data-toggle="modal" style="display:none"
    data-target="#CompanyModalShower">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="CompanyModalShower" tabindex="-1" role="dialog" aria-labelledby="CompanyModalShowerLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CompanyModalShowerLabel">اطلاعات شرکت</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label id="CompanyDesc"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (onlyLogginPage)
{
<script src="/onboard/slick.min.js"></script>
<script id="rendered-js">
    $('.slider').slick({
        arrows: false,
        dots: true,
        infinite: false,
        speed: 0,
        focusOnSelect: false,
        customPaging: function (slider, i) {
            return '<a><svg width="100%" height="100%" viewBox="0 0 16 16"><circle cx="8" cy="8" r="4"></circle><ellipse cx="8" cy="8" rx="8" ry="4"></ellipse> </svg></a>';
        }
    }).
        on('beforeChange', function (event, slick, currentSlide, nextSlide) {
            $('.item').removeClass('from-right from-left ready');
            c = currentSlide < nextSlide ? 'from-right' : 'from-left';
            $('.item').eq(nextSlide).addClass(c);
        }).on('afterChange', function (event, slick, currentSlide) {
            $('.item').eq(currentSlide).addClass('ready');
        });
    var timer = setInterval(function () {
        if ($($('.onboard li')[0]).attr('class') == "slick-active")
            $($('.onboard li')[1]).trigger('click');
        else if ($($('.onboard li')[1]).attr('class') == "slick-active")
            $($('.onboard li')[2]).trigger('click');
        else if ($($('.onboard li')[2]).attr('class') == "slick-active") {
            $($('.ready')[0]).trigger('click');
            clearInterval(timer);
        }
    }, 4000);
    $('.ready').on('click', function () { $('.onboard').hide(); $('.login').show(); })
                //# sourceURL=pen.js
</script>
HttpContextAccessor.HttpContext.Session.Remove("OnlyLoggin");

}
}


@if (SignInManager.IsSignedIn(User) && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="first-row row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/UserInfo">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت کاربران
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="/Info/BIReport">
                <div class="panel panel-default">
                    <div class="panel-body">
                        گزارشات BI
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/WalletRequestCredits">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت کیف اعتبار
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/TransactionProductTypes">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت محصولات
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/MLMPlans">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت هدیه ها
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Survey">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت نظرسنجی
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row col-md-offset-3 col-lg-offset-4">
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Transactions">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت تراکنش ها
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/News">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت اخبار
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-4 col-lg-2 col-md-3">
            <a href="https://hampisheh.com:53992/Advertisings">
                <div class="panel panel-default">
                    <div class="panel-body">
                        مدیریت آگهی ها
                    </div>
                </div>
            </a>
        </div>
    </div>
}