@{
    ViewBag.Title = "Home Page";
}
<div class="col-xs-12">
    <div class="row mainpage box">
        <label class="title col-xs-12">@ViewBag.rec.MainPageTitle</label>
        <div class="col-xs-6 flt-right">
            @ViewBag.rec.MainPageDesc
        </div>
        <div class="col-xs-6 link-cursor" id="SamanInsurance">
            <div >
                <img src="~/Content/Saman-Travel-Insurance.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 link-cursor">
        <div class="box bigBotBorder">
            <img src="/content/icons/pin.png" width="35" id="pin" />
            <div class="footer-page-link">
                <span>پین شارژ یا بیمه</span>
            </div>
        </div>
    </div>
    <div class="col-xs-4 link-cursor">
        <div class="box bigBotBorder">
            <img src="/content/icons/wifi.png" width="35" id="net" />
            <div class="footer-page-link">
                <span>بسته اینترنت</span>
            </div>
        </div>
        </div>
    <div class="col-xs-4 link-cursor">
        <div class="box bigBotBorder">
            <img src="/content/icons/sim.png" width="35" id="charge" />
            <div class="footer-page-link">
                <span>شارژ</span>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $('.bigBotBorder').each(function (index, elem) {
            var pageName = $($('.bigBotBorder')[index].children[0]).attr('id');
            $($('.bigBotBorder')[index]).on('click', function () {
                if (pageName == "pin")
                    window.location.href = "/Info/PinService";
                else
                    window.location.href = "/Info/Service?page=" + pageName
            })
        });
        $('#SamanInsurance').on('click', function () {
            window.location.href = "/Info/Travis";

        })
    </script>
<style>
    .link-cursor{
        cursor:pointer;
    }
    #SamanInsurance, #SamanInsurance img{
        max-height:125px;
        max-width:100%;
    }
</style>
}
