@{
    ViewData["Title"] = "بیمه های زندگی";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";


}
<h1>بیمه های زندگی<span class="backb"><a href="javascript:history.back()"><i class="icon-arrow-left"></i> بازگشت</a></span></h1>


    
        <!--<div class="col-xs-12">
            <a href="/Sale/Index?WorkFlowId=1032">
                <div class="panel fullwidth panel-default insurance">
                    <div class="panel-body">
                        <img class="life-full-width" src="/Mobile/icons/fullwidth.jpg" />
                        <div class="mt-57">
                            بیمه نامه عمر مناسب شما
                        </div>-->
                        @*<img class="life-ico" src="/insurance/mosaferati.jpg" />*@
                    <!--</div>
                </div>
            </a>
        </div>-->

	<div class="row iconn" dir="rtl">
		<div class="col-6 col-md-3">
		<a href="/Sale/Index?WorkFlowId=1032&lifeType=5">
            <div id="News" class="ads-boxz">
                <img src="/new/img/repairman.png">
                <div>عمر پلاس</div>
            </div>
		</a>
        </div>
		
		<div class="col-6 col-md-3">
		<a href="/Sale/Index?WorkFlowId=1032&lifeType=3">
            <div id="News" class="ads-boxz">
                <img src="/new/img/academy.png">
                <div>آتیه فرزندان</div>
            </div>
		</a>
        </div>



		<div class="col-6 col-md-3">
		 <a href="/Sale/Index?WorkFlowId=1032&lifeType=2">
            <div id="News" class="ads-boxz">
                <img src="/new/img/mother.png">
                <div> مستمری خانم های خانه دار</div>
            </div>
		</a>
        </div>

		<div class="col-6 col-md-3">
		 <a href="/Sale/Index?WorkFlowId=1032&lifeType=1">
            <div id="News" class="ads-boxz">
                <img src="/new/img/money-bag.png">
                <div>عمر و سرمایه گذاری(مستمری)</div>
            </div>
		</a>
        </div>
        
        
        <!--<div class="col-xs-4 ">
            <a href="/Sale/Index?WorkFlowId=1032&lifeType=1">
                <div class="panel panel-default insurance">
                    <div class="panel-body">
                        <img class="life-ico" src="/Mobile/icons/ii16.png" />
                        <div>
                            مستمری و بازنشستگی
                        </div>-->
                        @*<img class="life-ico" src="/insurance/mosaferati.jpg" />*@
                    <!--</div>
                </div>
            </a>
        </div>-->
        
        
        <!--<div class="col-xs-4 ">
            <a href="/Sale/Index?WorkFlowId=1032&lifeType=1">
                <div class="panel panel-default insurance">
                    <div class="panel-body">
                        <img class="life-ico" src="/Mobile/icons/ii15.png" />
                        <div>
                            معافیت مالیاتی
                        </div>-->
                        @*<img class="life-ico" src="/insurance/mosaferati.jpg" />*@
                    <!--</div>
                </div>
            </a>
        </div>-->
    </div>