@model IEnumerable<ShppaingPart.Models.MessageDetails>

@{
    ViewData["Title"] = "صندوق پیام و پاسخ";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>صندوق پیام و پاسخ</h1>


@section header {

    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.20/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css">
}


<button type="button" class="btn btn-primary btn-sm-block mb-4" data-toggle="modal" data-target="#myModal">ارسال پیام به مدیر</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm modal-center">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ارسال پیام به مدیر</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="row">
                    <div class="col-12 form-group">
                        <label for="subject">موضوع</label>
                        <input type="text" name="Subject" class="form-control" />
                    </div>
                    <div class="col-12 form-group">
                        <label for="subject">متن پیام</label>
                        <textarea name="body" style="width: 100%;" rows="5"></textarea>
                    </div>
                    <div class="col-12">
                    <button type="submit" class="btn btn-primary">ارسال پیام</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>


<div class="datat" dir="rtl">
<table class="table">
    <thead>
        <tr>
            <th>
                شماره پگیری
            </th>
            <th>
                موضوع
            </th>
            <th>
                متن
            </th>
            <th>
                تاریخ ارسال
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MessageDetailsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAddedJalali)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

@section Scripts {
    @*<script type="text/javascript" src="~/datatables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>*@

    <script type="text/javascript" src="/datatables/dataTables.min.js"></script>
    <script type="text/javascript" src="/datatables/FixedHeader-3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/datatables/JSZip-2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="/datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.6.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="/datatables/Buttons-1.6.0/js/buttons.print.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            //debugger;
            var strElem = "";
            $('table thead tr th').each(function (index, elem) {
                strElem += "<th>" + $($('table thead tr th')[index]).text() + "</th>";
            });
            $('table').append("<tfoot><tr>" + strElem + "</tr></tfoot>");
            $('table tfoot tr th').each(function (i) {
                var title = $.trim($(this).text());
                $(this).html('<input type="text" class="form-control" placeholder="' + title + '" />');

                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table
                            .column(i)
                            .search(this.value)
                            .draw();
                    }
                });
            });

            var table = $('table').DataTable({
                fixedHeader: true,
                orderCellsTop: true,
                responsive: true,
                dom: 'Bfrtip', "order": [],
                buttons: [
                    {
                        extend: 'collection',
                        text: '<img src="/new/img/download.png" width="32px" />',
                        buttons: [
                            'copy',
                            'excel',
                            'csv',
                            'pdf',
                            'print'
                        ]
                    }
                ],
				"oLanguage": {
                        "sSearch": ""
                    },
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "جستجو"
                    },
                "bAutoWidth": false,
            });
            $('table').on("order.dt", function () {

                if (table.settings().order().length === 1) {
                    var order = table.settings().order()[0];
                    var th = $("table th:eq(" + order[0] + ")");
                    if (th.attr("data-sort-next") === "false") {
                        table.order([]).draw();
                        th.attr("data-sort-next", true);
                    } else {
                        if (order[1] === "desc") {
                            th.attr("data-sort-next", false);
                        } else {
                            th.attr("data-sort-next", true);
                        }
                    }
                }
            });
        });

    </script>
}