@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
    var IsNetPage = HttpContextAccessor.HttpContext.Request.Query["page"] == "net";
    ViewData["Title"] = IsNetPage? "بسته اینترنت":"شارژ";
}

@if (IsNetPage)
{
    <div class="row">
        <div class="col-12 titlee three">
            <h1>خرید بسته اینترنت<span class="backb"><a href="javascript:history.back()"><i class="icon-arrow-left"></i> بازگشت</a></span></h1>
        </div>

        <div class="col-12 col-md-5 g4">
            <img src="../new/img/4g.png" />
        </div>
        <div class="col-12 col-md-7">
            <div class="row">
        <div class="col text-center">
            <a href="/OpratorService/Index?serviceType=net&Op=mci">
                <div class="box-card">
                    <img src="../new/img/mci.jpg" width="100%" alt="mci" />
                </div>
            </a> 
        </div>

        <div class="col text-center">
            <a href="/OpratorService/Index?serviceType=net&Op=mtn">
                <div class="box-card">
                    <img src="../new/img/irancell.jpg" width="100%" alt="irancell" />
                </div>
            </a> 
        </div>

        <div class="col text-center">
            <a href="/OpratorService/Index?serviceType=net&Op=rtl">
                <div class="box-card">
                    <img src="../new/img/rightel.jpg" width="100%" alt="rightel" />
                </div>
            </a> 
        </div>
            </div>
        </div>


    </div>
}
else
{   

    <div class="row">
    <div class="col-12 titlee three">
        <h1>خرید شارژ سیم کارت<span class="backb"><a href="javascript:history.back()"><i class="icon-arrow-left"></i> بازگشت</a></span></h1>
    </div> 

    <div class="col-12 col-md-5 g4">
        <img src="../new/img/sim.png" />
    </div>
    <div class="col-12 col-md-7">
        <div class="row">
    <div class="col text-center">
        <a href="/OpratorService/Index?serviceType=charge&Op=mci">
            <div class="box-card">
                <img src="../new/img/mci.jpg" width="100%" alt="mci" />
            </div>
        </a> 
    </div>

    <div class="col text-center">
            <a href="/OpratorService/Index?serviceType=charge&Op=mtn">
                <div class="box-card">
                    <img src="../new/img/irancell.jpg" width="100%" alt="irancell" />
                </div>
            </a> 
        </div>

        <div class="col text-center">
            <a href="/OpratorService/Index?serviceType=charge&Op=rtl">
                <div class="box-card">
                    <img src="../new/img/rightel.jpg" width="100%" alt="rightel" />
                </div>
            </a> 
        </div>
            </div>
        </div>


    </div>
    
}

@*<div class="first-row row">
        <div class="col-xs-12">
            <a href="/Info/Service?Page=net&Op=mci">
                <div class="panel panel-default">
                    <div class="panel-body">
                        بسته اینترنت همراه اول
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="/Info/Service?Page=charge&Op=mci">
                <div class="panel panel-default">
                    <div class="panel-body">
                        شارژ همراه اول
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="/Info/Service?Page=net&Op=mtn">
                <div class="panel panel-default">
                    <div class="panel-body">
                        بسته اینترنت ایرانسل
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="first-row row">
        <div class="col-xs-12">
            <a href="/Info/Service?Page=charge&Op=mtn">
                <div class="panel panel-default">
                    <div class="panel-body">
                        شارژ ایرانسل
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="/Info/Service?Page=net&Op=rtl">
                <div class="panel panel-default">
                    <div class="panel-body">
                        بسته اینترنت رایتل
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xs-12">
            <a href="/Info/Service?Page=charge&Op=rtl">
                <div class="panel panel-default">
                    <div class="panel-body">
                        شارژ رایتل
                    </div>
                </div>
            </a>
        </div>
    </div>*@