
@{
    ViewData["Title"] = "محصولات";
}

<div class="first-row row col-md-offset-3 col-lg-offset-4">
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/Mobile">
            <div class="panel panel-default">
                <div class="panel-body">
                    خدمات تلفن همراه
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/Insurance">
            <div class="panel panel-default">
                <div class="panel-body">
                    بیمه
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/CommingSoon">
            <div class="panel panel-default">
                <div class="panel-body">
                    تفریح و سرگرمی
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row  col-md-offset-3 col-lg-offset-4">
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/CommingSoon">
            <div class="panel panel-default">
                <div class="panel-body">
                    پیشنهادات ویژه محصولات
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/CommingSoon">
            <div class="panel panel-default">
                <div class="panel-body">
                    گردشگری(بلیط تور)
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/PinService">
            <div class="panel panel-default">
                <div class="panel-body">
                    وچر
                </div>
            </div>
        </a>
    </div>
</div>
<div class="row  col-md-offset-3 col-lg-offset-4">
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/CommingSoon">
            <div class="panel panel-default">
                <div class="panel-body">
                    خدمات ورزشی
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Info/CommingSoon">
            <div class="panel panel-default">
                <div class="panel-body">
                    سایر خدمات
                </div>
            </div>
        </a>
    </div>
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Sale/Index?WorkflowId=1017">
            <div class="panel panel-default">
                <div class="panel-body">
                    محصول جدید
                </div>
            </div>
        </a>
    </div>
    @*<div class="col-xs-4 col-lg-2 col-md-3">
            <a href="/Info/CommingSoon">
                <div class="panel panel-default">
                    <div class="panel-body">
                        تهیه برنامه درآمدی(بزودی)
                    </div>
                </div>
            </a>
        </div>*@
</div>
<div class="row  col-md-offset-3 col-lg-offset-4">
    <div class="col-xs-4 col-lg-2 col-md-3">
        <a href="/Sale/Index?WorkflowId=1018">
            <div class="panel panel-default">
                <div class="panel-body">
                    خودروپلاس
                </div>
            </div>
        </a>
    </div>
</div>
<style>
    .panel {
        height: 100px;
        cursor: pointer;
    }

    .panel-body {
        position: absolute;
        top: 20%;
        text-align: center;
        left: 0;
        right: 0;
    }

    .first-row {
        margin-top: 8px;
    }

    .btn-circle {
        padding: 10px 10px;
        line-height: 1.33;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .div-center {
        text-align: center;
    }
</style>
