
@{
    ViewBag.Title = "خطا";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h2>اطلاعات خطا</h2>

<div class="row" style="direction:rtl">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="col-sm-6">
            آخرین خروجی ها
        </div>
        <div class="col-sm-6">
            @ViewBag.Res &nbsp;
        </div>
    </div>

</div>



