
@{
    ViewData["Title"] = "موارد تحت پوشش";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>موارد تحت پوشش</h1>


<div class="row" style="direction:rtl">
    @for (int i = 0; i < ViewBag.dtRes.Count; i++)
    {

        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                عنوان
            </div>
            <div class="col-sm-9">
                @ViewBag.dtRes[i][0].ToString()
            </div>
            <div class="col-sm-3">
                عنوان(انگلیسی)
            </div>
            <div class="col-sm-9">
                @ViewBag.dtRes[i][1].ToString()
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-2">
            <div class="col-sm-3">
                محدودیت
            </div>
            <div class="col-sm-9">
                @ViewBag.dtRes[i][2].ToString()
            </div>
            <div class="col-sm-3">
                &nbsp;
            </div>
            <div class="col-sm-9">
                &nbsp;
            </div>
        </div>
    }
</div>
