@using Microsoft.Data.SqlClient;
@{

    var db = new DataAccess();
    var usersDt = db.ProccessSelectQuery("sp_GetFilimoProducts", new SqlParameter[] {
                new SqlParameter("@username",User.Identity.Name),
                }, System.Data.CommandType.StoredProcedure);
    var dtList = usersDt.Select().Select(r=>new { code = r["code"], title = r["title"] }).ToList();
    var dtSelect = new SelectList(dtList, "code", "title");
}
    <form action="/Info/ShoppingData" method="post">
        @Html.Hidden("WorkFlowId", 1021)
        @Html.Hidden("ShoppingPageId", 1010)
        <div class="row">
			<div class="col-md-7 text-center mb-3">
				<img src="/new/img/filimo.png" class="filimo" width="70%" />
			</div>
			<div class="col-md-5">
            <div class="form-group">
                <label for="tel">شماره موبایل</label>
                <input name="Phone" id="tel" class="form-control" type="tel" required max="9999999999" min="9000000000" oninput="CheckValidity(this);" oninvalid="CheckValidity(this);" />
                <span validation-for="tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Method">اشتراک فیلیمو</label>
                <select class="form-control" id="Method" required name="Method" asp-items="@dtSelect" oninput="CheckValidity(this);" oninvalid="CheckValidity(this);"><option value="">لطفا انتخاب کنید</option></select>
            </div>
            <button class="btn btn-warning form-control mt-3" type="submit">خرید</button>
			</div>
        </div>
    </form>


<script type="text/javascript">
    
        function CheckValidity(elem) {
            elem.setCustomValidity('');
            if (elem.validity.valueMissing) {
                elem.setCustomValidity('این فیلد اجباری است');
                return true;
            }
            if ($(elem).attr('id') == "tel") {
                if (elem.validity.rangeOverflow || elem.validity.rangeUnderflow)
                    elem.setCustomValidity('لطفا شماره همراه صحیح وارد نمایید');
            }
            return true;
        }
</script>
