
@using Microsoft.Data.SqlClient;
@{

    var db = new DataAccess();
    var usersDt = db.ProccessSelectQuery("sp_newProduct", new SqlParameter[] {
                new SqlParameter("@username",User.Identity.Name),
                }, System.Data.CommandType.StoredProcedure);
    var dtList = usersDt.Select().Select(r=>new { code = r["code"], title = r["title"] }).ToList();
    var dtSelect = new SelectList(dtList, "code", "title");
}
<form action="/Info/ShoppingData" method="post">
    @Html.Hidden("WorkFlowId", 1017)
    @Html.Hidden("ShoppingPageId", 7)
    <select class="form-control" id="data" required name="data" asp-items="@dtSelect"><option value="">لطفا انتخاب کنید</option></select>
    <button class="btn btn-success" type="submit">خرید</button>
</form>

