<form action="/Info/ShoppingData" method="post" enctype="application/x-www-form-urlencoded">
    @Html.Hidden("WorkFlowId", 1018)
    @Html.Hidden("ShoppingPageId", 1007)
    @Html.Hidden("voucherTypeid", 10)
    <div class="row">
        <div class="col-lg-6">
            <img src="/new/img/cars.png" alt="car plus" class="img-fluid" />
        </div>
        <div class="col-lg-6">
            <div class="row" dir="rtl">
                <div class="form-group col-md-6">
                    <input type="checkbox" id="forMySelf" />
                    <label for="forMySelf">خرید برای خودم</label>
                </div>
                <div class="form-group col-md-6">
                    <input type="checkbox" id="beforeCustomer" />
                    <label for="beforeCustomer">خرید برای مشتریان قبلی</label>
                </div>
                <div class="col-12">
                    <hr />
                </div>
                <div class="form-group col-12" id="customerIdDiv">
                    <label for="customerId">انتخاب مشتری قبلی</label>
                    <select name="customerId" id="customerId" class="form-control Province">
                        <option value="">لطفا انتخاب کنید</option>
                    </select>
                    <span validation-for="customerId" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <h5>خرید برای فرد جدید</h5>
                </div>

                <div class="form-group col-lg-6">
                    <label for="NationalCode_new">کد ملی</label>
                    <input id="NationalCode_new" type="tel" required maxlength="10" class="form-control" />
                </div>
                <div class="form-group col-lg-6">
                    <label for="birthdate_new">تاریخ تولد</label>
                    <input id="birthdate_new" class="form-control" data-jdp data-jdp-max-date="today" />
                </div>
                <div class="form-group col-12">
                    <button class="btn btn-primary" id="SearchPerson" type="button">جست و جو</button>
                    <label for="" class="col-12"></label>
                </div>

                <div class="form-group col-lg-6">
                    <label for="NationalCode">کد ملی</label>
                    <input name="NationalCode" id="NationalCode" readonly type="tel" required maxlength="10"
                        class="form-control" />
                    <span validation-for="NationalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="Name">نام و نام خانوادگی</label>
                    <input name="Name" class="form-control" readonly type="text" required maxlength="100" id="Name" />
                    <span validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="birthdate">تاریخ تولد</label>
                    <input name="birthdate" id="birthdate" readonly class="form-control" />
                    <span validation-for="birthdate" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="tel">شماره موبایل</label>
                    <input name="tel" id="tel" class="form-control" type="tel" required max="9999999999"
                        min="9000000000" />
                    <span validation-for="tel" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="ProvinceId">استان</label>
                    <select name="ProvinceId" id="ProvinceId" class="form-control Province">
                        <option value="0">لطفا انتخاب کنید</option>
                    </select>
                    <span validation-for="ProvinceId" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="CityId">شهر</label>
                    <select name="CityId" id="CityId" class="form-control"></select>
                    <span validation-for="CityId" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label for="address">آدرس</label>
                    <input name="address" id="address" class="form-control" />
                    <span validation-for="address" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="postalCode">کد پستی</label>
                    <input name="postalCode" id="postalCode" type="tel" class="form-control" />
                    <span validation-for="postalCode" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label for="Amount">مبلغ</label>
                    <select name="Amount" id="Amount" required class="form-control Province">
                        <option value="">لطفا انتخاب کنید</option>
                    </select>
                    <span validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group col-12 mt-4">
                    <button class="btn btn-warning form-control" type="submit">خرید</button>
                </div>
            </div>
        </div>
    </div>
</form>



<script type="text/javascript">
    var glob_CityId = 0;
    document.addEventListener("DOMContentLoaded", function (event) {


        $.get('/JsonData/GetData?typeData=100021', function (data) {
            var jsonData = JSON.parse(data);
            var strCombo = '<option value="">لطفا انتخاب کنید</option>';
            for (var i = 0; i < jsonData.length; i++) {
                strCombo += '<option value="' + jsonData[i].ProvinceId + '">' + jsonData[i].Name + '</option>';

            }
            $('#ProvinceId').html(strCombo);
        });
        $.get('/JsonData/GetData?typeData=100023', function (data) {
            var jsonData = JSON.parse(data);
            var strCombo = '<option value="">لطفا انتخاب کنید</option>';
            debugger;
            for (var i = 0; i < jsonData.length; i++) {
                strCombo += '<option value="' + jsonData[i].Amount + '">' + jsonData[i].title + " - " + digitGroup(jsonData[i].Amount) + ' ريال</option>';
                //strCombo += '<option value="' + jsonData[i].Amount + '">' +digitGroup( jsonData[i].Amount) + '</option>';

            }
            $('#Amount').html(strCombo);
        });
        $('#ProvinceId').on('change', function () {
            $.get('/JsonData/GetData?typeData=100022&key1=' + $('#ProvinceId').val(), function (data) {
                var jsonData = JSON.parse(data);
                var strCombo = '<option value="0">لطفا انتخاب کنید</option>';
                for (var i = 0; i < jsonData.length; i++) {
                    strCombo += '<option value="' + jsonData[i].CityId + '">' + jsonData[i].Name + '</option>';

                }
                $('#CityId').html(strCombo);
                if (glob_CityId > 0)
                    $('#CityId').val(glob_CityId);
            });

        });

        $('#NationalCode').on('change', function () {
            if (validateNationalCode($('#NationalCode').val()) == false)
                alert('کد ملی صحیح نیست');
        });
        function validateNationalCode(nc) {
            var sumNaCode = 0;
            for (var i = 0; i < nc.length - 1; i++) {
                sumNaCode = sumNaCode + parseInt(nc[i]) * (10 - i);
            }
            console.log(sumNaCode);
            console.log(sumNaCode % 11);
            if (sumNaCode % 11 < 2) {
                if ((sumNaCode % 11).toString() == nc[9])
                    return true;
            } else {
                if ((11 - (sumNaCode % 11)).toString() == nc[9])
                    return true;
            }
            return false;
        }
        window.pd = $('.persian-date').each(function (index, elem) {
            $(this).persianDatepicker({
                //altField: "#alt" + (index + 1).toString(),
                altFormat: 'LLLL',
                initialValue: false,
                observer: true,
                format: 'YYYY/MM/DD',
                //timePicker: {
                //    enabled: true
                //}
            });
        });
        $('#customerIdDiv').hide();
        $('#beforeCustomer').on('change', function () {
            if ($('#beforeCustomer').prop('checked')) {
                $('#customerIdDiv').show();
                $('#forMySelf').prop('checked', false);
                $.get('/JsonData/GetData?typeData=100024&key10=@(User.Identity.Name)', function (data) {
                    var jsonData = JSON.parse(data);
                    var strCombo = '<option value="">لطفا انتخاب کنید</option>';
                    for (var i = 0; i < jsonData.length; i++) {
                        strCombo += '<option value="' + i.toString() + '">' + jsonData[i].nationalcode + "-" + jsonData[i].name + "-" + jsonData[i].tel + '</option>';

                    }
                    $('#customerId').html(strCombo);
                    $('#customerId').on('change', function () {
                        var index = $('#customerId').val();
                        if (index >= 0) {
                            showLoadedData(jsonData[index]);
                        }
                    })
                });
            } else {
                $('#customerIdDiv').hide();

            }
        });
        $('form').submit(function (e) {
            if (validateNationalCode($('#NationalCode').val()) == false) {
                alert('کد ملی صحیح نیست');
                $('#NationalCode').focus();
                e.preventDefault();
            }
        });

        $('#forMySelf').on('change', function () {
            if ($('#forMySelf').prop('checked')) {
                $('#beforeCustomer').prop('checked', false);
                $.post('/Sale/MyselfData', { forProduct: "khodro-plus" }, function (data) {
                    if (data) {
                        var jsonData = JSON.parse(data.data);
                        //var jsonData = new JSON.parse(data.toString().substring(1, data.length - 2));

                        //var jsonData = JSON.parse(data);
                        if (jsonData.length > 0) {
                            showLoadedData(jsonData[0])
                        }
                    }
                });
            }
        });

        $('#SearchPerson').on('click', function () {
            var NationalCode_new = $('#NationalCode_new').val();
            var birthdate_new = $('#birthdate_new').val();
            $.post('/Sale/GetCivilRegistryOfficeData', { nc: NationalCode_new, bt: birthdate_new }, function (data) {
                $('#NationalCode').val(data.nationalCode);
                $('#Name').val(data.first_name + ' ' + data.last_name);
                $('#birthdate').val(data.birthdate);
                //if (data.birthdate)
                //    if (data.birthdate.toString().indexOf('/'))
                //        $('#Year').val(data.birthdate.split('/')[0]);
                //    else
                //        $('#Year').val(data.birthdate.split('-')[0]);
            });
        });
    });
    function digitGroup(num) {
        return num.toLocaleString();
    }

    function showLoadedData(data) {

        $('#Name').val(data.name);
        $('#NationalCode').val(data.nationalcode);
        $('#tel').val(data.tel);
        $('#birthdate').val(data.birthdate);
        $('#ProvinceId').val(data.provinceId);
        $('#ProvinceId').trigger('change');
        glob_CityId = data.CityId
        $('#postalCode').val(data.postalCode);
        $('#address').val(data.address);
    }
</script>
