

    <form action="/Info/ShoppingData" method="post">
        @Html.Hidden("WorkFlowId", 1014)
        @Html.Hidden("ShoppingPageId", 6)
        <button class="btn btn-warning form-control" type="submit">خرید</button>
    </form>

