
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>درباره ما</h1>


<div class="panel panel-default panel-group">
    <div class="panel-heading">همپیشه</div>

    <div class="panel-body panel-group" style="position:inherit">
        همانگونه که از نام "همپیشه" پیدا است، ما به با یک رویکرد جدید، مبتنی بر فناوری دیجیتال، در پی ایجاد ابزارهای نوین درآمد زائی برای افراد هستیم.<br />
        در اولین گام خدمات بیمه را به عنوان کارگزار رسمی بیمه مرکزی جمهوری اسلامی ایران عرضه مینمائیم
        هدف نهائی این پلتفرم عرضه خدمات مختلف که بر اساس نیاز افراد طراحی شده از طریق افرادی است که در همین پلتفرم آموزش دیده اند است
        تا از این روش بتوانیم سهمی هر چند کوچک در ایجاد اشتغال برای هموطنان گرامی خود داشته باشیم.



    </div>
</div>

