
@{
    ViewData["Title"] = "ارتباط با ما";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>ارتباط با ما</h1>



<div class="panel panel-default panel-group">
    <div class="panel-heading">همپیشه</div>

    <div class="panel-body panel-group" style="position:inherit">
        آدرس: خیابان سمیه بعد از خیابان مفتح پلاک 122 واحد 103 <br />
        شماره تلفن 86071295
    </div>
    <div id="map">
        <a href="https://www.google.com/maps/place/Azadi+Hotel/@@35.7058933,51.4206303,16.74z/data=!4m5!3m4!1s0x3f8e017923847ba3:0x8da40ce8d66c2bab!8m2!3d35.7055563!4d51.4237806">
            <img src="/map.png" />
        </a>
    </div>
    @*<script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 35.705599, lng: 51.423844 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 17, center: uluru });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    </script>*@
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    @*<script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyZSSOQggZpTAYUHtODXpNPE3IVEuJqRI&callback=initMap">
    </script>*@

</div>
<style>
    .panel {
        height: auto;
    }

    /* Set the size of the div element that contains the map */
    #map, #map img {
        /*height: 400px;*/ /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
    }

</style>
