
@{
    ViewData["Title"] = "قوانین و مقررات";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>قوانین و مقررات</h1>


<div class="panel panel-default panel-group" style="height:auto;">
    <div class="panel-heading">همپیشه</div>

    <div class="panel-body panel-group" style="position:inherit">
        <h3>شرایط و قوانین:</h3>

        با تشکر از اعتماد شما در انتخاب همپیشه
        کاربر گرامی خواهشمند است موارد زیر را جهت استفاده بهینه از خدمات و برنامه‌های کاربردی همپیشه، ملاحظه فرمائید.
        ورود کاربران به وب‌سایت همپیشه و استفاده ازخدمات ارائه شده در این وب سایت یا برنامه‌های ارائه شده توسط همپیشه به معنای آگاهی از شرایط و قوانین استفاده از این خدمات و پذیرفتن آن می‌باشد. همپیشه متأثر از شرایط و قوانین جمهوری اسلامی ایران، شرایط و قوانین تجارت الکترونیک و قانون حمایت از مصرف‌کننده و بیمه مرکزی جمهوری اسلامی ایران است. لازم به ذکر است، شرایط و قوانین مندرج در سایت جایگزین کلیه‌ی توافق‌های قبلی محسوب می‌شود و استفاده از هر گونه خدمات این سامانه به عنوان یک قرارداد ضروری تلقی می‌شود. لذا خواهشمند است در صورت وجود هر گونه ابهام با کارشناسان ما مشورت نمائید.

        <h3> تعریف کاربر:</h3>
        کاربر به فردی گفته می‌شود که با اطلاعات شخصی خود نسبت به ثبت  یا هر گونه استفاده از خدمات همپیشه اقدام نماید. شخصی که در سامانه همپیشه با استفاده از اطلاعات خود نسبت به ثبت سفارش، خرید یا دریافت خدمات برای شخص سومی اقدام می‌کند، نیز از طرف همپیشه به عنوان کاربر شناخته شده و ملزم به رعایت تمامی قوانین حاکم بین همپیشه و کاربر می‌باشد.

        <h3>محصولات قابل ارائه در همپیشه:</h3>
        همپیشه یک سامانه مدیریت و فروش آنلاین خدمات می‌باشد. آنچه که کاربر می‌تواند از این سامانه دریافت نماید، خدمات مدیریت بیمه و خرید بیمه‌نامه است. استفاده از خدمات مدیریت بیمه برای کاربر رایگان و خرید بیمه‌نامه برای کاربرو یا مشتری و یا بیمه گذار شامل هزینه می‌باشد. کلیه بیمه‌های قابل فروش در همپیشه با توجه به درخواست مشتری توسط کارگزار مورد تائید بیمه مرکزی جمهوری اسلامی ایران صادرمیشود.
        تمامی قیمت‌های ارائه شده در سامانه از طرف کارگزار بیمه اعلام می‌شود و همپیشه هیچ گونه دخل و تصرفی در قیمت ها ندارد. چنانچه تخفیفی از طرف همپیشه بر روی قیمت ها اعمال شود، به کاربر اعلام خواهد شد. از آنجا که محصولات ارائه شده ما در همپیشه وابسته به شرکت‌های بیمه می‌باشد، انصراف از دریافت بیمه‌نامه منوط به قوانین داخلی شرکت صادرکننده‌ی بیمه می‌باشد.


        <h3>راه ارتباطی:</h3>
        شما می‌توانید از سرویس‌ها و خدمات همپیشه استفاده کنید و سفارش خود را اینترنتی ثبت نمایید . ارتباط از کانال‌های الکترونیکی انجام می‌شود و کاربر موافقت می‌کند که پاسخ درخواست خود را نیز به صورت الکترونیکی دریافت نماید. آدرس و شماره تلفن و ایمیل اعلامی از طرف مشتری تنها کانال رسمی ارتباط با مشتری می‌باشد. خبر رسانی‌ها در مورد سرویس‌های ویژه، رویدادها و ... توسط همپیشه انجام می‌شود و چنانچه کاربر تمایلی به دریافت نداشته باشد می‌تواند از طریق وب‌سایت یا اپلیکیشن نسبت به مدیریت این موارد اقدام نماید.
        ممکن است همپیشه سؤالات نظرسنجی خود را بعد از انجام خرید یا استفاده از سامانه‌ی مدیریت بیمه از طریق پیامک برای مشتری ارسال نماید. مسیرهای ارتباطی رسمی با پشتیبانی‌های همپیشه از جمله شماره تلفن، سامانه پیامکی، ایمیل یا کانال های ارتباطی شبکه‌های مجازی در قسمت تماس با ما درج شده و همپیشه فقط از طریق این سامانه‌ها به ارتباط با مشتری می‌پردازد و هر گونه تماس با مشتری تحت نام همپیشه از طریق دیگر موارد سوء استفاده از نام همپیشه محسوب شده و تحت پیگرد قانونی قرار می‌گیرد.

        <h3>حریم شخصی:</h3>
        همپیشه متعهد است در حد توان از حریم شخصی شما محافظت نماید و از جدیدترین تکنولوژی‌های موجود جهت حفظ اطلاعات شما استفاده نماید. تمامی مطالب ارائه شده توسط همپیشه مانند متن ها، طرح های گرافیکی، لوگو، موارد قابل دانلود، کپی و تمامی محتوای تولید شده توسط همپیشه به عنوان اموال همپیشه محسوب می‌شود و حق هر گونه استفاده از آنها در انحصار همپیشه می‌باشد.



        <h3>انصراف از خرید:</h3>
        از لحظه ورود کاربر با کد کاربری اختصاصی خود می‌تواند از خدمات همپیشه استفاده نماید. ورود کاربر به معنی قبول همکاری با همپیشه می‌باشد. کاربر می‌تواند در هر لحظه از حساب کاربری خود خارج شود یا اپلیکیشن همپیشه را از روی دستگاه خود حذف نماید اما این موضوع به منزله انصراف از همکاری با همپیشه نمی‌باشد. جهت خاتمه‌ی همکاری کاربر می‌تواند درخواست خود را از طریق ایمیل (info@hampisheh.com) به پشتیبانی همپیشه اعلام نماید، همپیشه سعی می‌کند، در تمام حالت نسبت به ارائه‌ی خدمات مطلوب به کاربر جهت حفظ همکاری اقدام نماید ولی در صورت درخواست مشتری نسبت به حذف اطلاعات مشتری و قطع همکاری اقدام خواهد نمود. لازم به ذکر است استفاده از خدمات همپیشه هیچ محدودیتی برای مشتری جهت استفاده از خدمات بیمه‌ای یا سامانه‌های مشابه شرکت‌ها یا اشخاص دیگر ایجاد نمی‌کند.

        <h3>مدت قرارداد:</h3>
        از لحظه ورود کاربر با نام کاربری اختصاصی خود، کاربر می‌تواند از خدمات همپیشه استفاده نماید. ورود کاربر به معنی قبول همکاری با همپیشه می‌باشد. کاربر می‌تواند در هر لحظه از حساب کاربری خود خارج شود یا اپلیکیشن همپیشه را از روی دستگاه خود حذف نماید اما این موضوع به منزله انصراف از همکاری با همپیشه نمی‌باشد. جهت خاتمه‌ی همکاری کاربر می‌تواند درخواست خود را از طریق ایمیل (xxxx@xxxx.com) به پشتیبانی همپیشه اعلام نماید، همپیشه سعی می‌کند، در تمام حالت نسبت به ارائه‌ی خدمات مطلوب به کاربر جهت حفظ همکاری اقدام نماید ولی در صورت درخواست مشتری نسبت به حذف اطلاعات مشتری و قطع همکاری اقدام خواهد نمود. لازم به ذکر است استفاده از خدمات همپیشه هیچ محدودیتی برای مشتری جهت استفاده از خدمات بیمه‌ای یا سامانه‌های مشابه شرکت‌ها یا اشخاص دیگر ایجاد نمی‌کند.


        <h3>محدوده جغرافیایی ارائه خدمات:</h3>
        در حال حاضر، همپیشه در تمامی مراکز استانها، خدمات فروش بیمه را ارائه می‌نماید. خدمات مدیریت بیمه همپیشه منحصر به محدوده جغرافیایی نمی‌باشد و کاربران از هر نقطه‌ی جغرافیایی می‌توانند از خدمات  همپیشه استفاده نمایند. جهت اطلاع می‌توانید به وب سایت همپیشه مراجعه نموده یا با ما تماس بگیرید.

    </div>

</div>
