
@{
    ViewData["Title"] = "WorkflowIndex";
    //Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}
@model IEnumerable<ShppaingPart.Models.BMS.Transaction>


@section header {

    <link rel="stylesheet" type="text/css" href="~/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/DataTables-1.10.20/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/datatables/Buttons-1.6.0/css/buttons.dataTables.min.css">
}

<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Parameters</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body no-padding" style="">
        <div class="row">

            <form method="get" action="WorkFlowIndex">
                <div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input type="text" name="transactionid" placeholder="transactionID" class="form-control" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input type="text" name="WorkFlowRunLogId" placeholder="WorkFlowRunLogId" class="form-control" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <input type="text" name="phone" placeholder="phone" class="form-control" />
                    </div>
                    <div class="col-sm-4 col-md-3 col-lg-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.row -->
    </div>
    <hr />
</div>
<div id="example" style="width:100%;max-height:250px;overflow:auto"></div>

@section Scripts {
    @*<script type="text/javascript" src="~/datatables/jQuery-3.3.1/jquery-3.3.1.min.js"></script>*@

    <script type="text/javascript" src="~/datatables/nested.tables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            //debugger;
            var dataInJson =@Html.Raw(ViewBag.DataJson);


var settings = {
  "iDisplayLength": 20,
  "bLengthChange": false,
  "bFilter": false,
  "bSort": false,
  "bInfo": false
};

var table = new nestedTables.TableHierarchy("example", dataInJson, settings);
table.initializeTableHierarchy();

var tableEle = document.querySelector( "#example .table" );
tableEle.addEventListener("onShowChildHierarchy", function(e) {
    console.log(e);
});

tableEle.addEventListener("onHideChildHierarchy", function(e) {
    console.log(e);
});
        });

    </script>
}