
@{
    ViewData["Title"] = "نظرسنجی";
    Layout = "~/Views/Shared/_LayoutPaycell.cshtml";
}

<h1>نظرسنجی @ViewBag.thisData.Name</h1>
@if (ViewBag.thisData.thisUserStarted && ViewBag.thisData.thisUserFinished)
{

    <h2>
        پاسخ داده اید و این مورد پایان یافته است
    </h2>
    <a class="btn btn-primary" href="/Surveys">بازگشت به لیست نظر سنجی</a>
    return;
}
<div class="row">
    <div class="col-xs-12" id="Quastions">

    </div>
    <div class="col-xs-12">
        <button id="prev" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-forward"></i></button>
        <button id="next" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-backward"></i></button>
        <button id="finish" class="btn btn-danger" type="button"><i class="glyphicon glyphicon-stop"></i></button>
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
    var jsonListSurveyQuastions = JSON.parse('@Html.Raw(ViewBag.ListSurveyQuastions)');
    var quastionIndex = 0;
    $('#next').on('click',function(){
        if(quastionIndex<jsonListSurveyQuastions.length-1)
            quastionIndex++;
        loadQuastions();
    });
    $('#prev').on('click',function(){
    if(quastionIndex>0)
            quastionIndex--;
        loadQuastions();
    });
        $('#finish').on('click', function () {
            if (confirm("آیا از اتمام پاسخ دهی مطمئن هستید؟در این صورت دیگر قابلیت ویرایش را نخواهید داشت"))
                $.post('/Surveys/StopSurvey'
                , { SurveyId:jsonListSurveyQuastions[quastionIndex].SurveyId }
                , function (data, status) {
                    try {
                        if (data.res == "ok")
                            window.location.href="/Surveys/Index";
                    else
                        alert('مشکلی در ذخیره سازی داده ها وجود دارد')
                    } catch (e) {
                        alert('مشکلی در ذخیره سازی داده ها وجود دارد')
                    }
                });
    });
    function loadQuastions(){
    var strQuastionDetails = "<div class='col-xs-12'>"+jsonListSurveyQuastions[quastionIndex].SurveyQuastionTitle+"</div>";
    if(jsonListSurveyQuastions[quastionIndex].SurveyOption)
    strQuastionDetails+="<div class='col-xs-12'><label for='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-1' >"+jsonListSurveyQuastions[quastionIndex].SurveyOption+"</label> <input type='radio' class='rdn' name='option' id='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-1' "+(jsonListSurveyQuastions[quastionIndex].OptionId==1?"checked":"")+ " /> </div>";
    if(jsonListSurveyQuastions[quastionIndex].SurveyOption2)
    strQuastionDetails+="<div class='col-xs-12'><label for='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-2' >"+jsonListSurveyQuastions[quastionIndex].SurveyOption2+"</label> <input type='radio' class='rdn' name='option' id='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-2' "+(jsonListSurveyQuastions[quastionIndex].OptionId==2?"checked":"")+ "/>  </div>";
    if(jsonListSurveyQuastions[quastionIndex].SurveyOption3)
    strQuastionDetails+="<div class='col-xs-12'><label for='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-3' >"+jsonListSurveyQuastions[quastionIndex].SurveyOption3+"</label> <input type='radio' class='rdn' name='option' id='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-3' "+(jsonListSurveyQuastions[quastionIndex].OptionId==3?"checked":"")+ "/>  </div>";
    if(jsonListSurveyQuastions[quastionIndex].SurveyOption4)
    strQuastionDetails+="<div class='col-xs-12'><label for='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-4' >"+jsonListSurveyQuastions[quastionIndex].SurveyOption4+"</label> <input type='radio' class='rdn' name='option' id='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-4' "+(jsonListSurveyQuastions[quastionIndex].OptionId==4?"checked":"")+ "/>  </div>";
    if(jsonListSurveyQuastions[quastionIndex].SurveyOption5)
    strQuastionDetails+="<div class='col-xs-12'><label for='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-5' >"+jsonListSurveyQuastions[quastionIndex].SurveyOption5+"</label> <input type='radio' class='rdn' name='option' id='option-"+jsonListSurveyQuastions[quastionIndex].SurveyId.toString()+"-5' "+(jsonListSurveyQuastions[quastionIndex].OptionId==5?"checked":"")+ "/>  </div>";
        $('#Quastions').html(strQuastionDetails);

        $('.rdn').on('click', function () {
            var thisId = $(this).attr('id');
            var idOfOption = thisId.split('-');
            jsonListSurveyQuastions[quastionIndex].OptionId = parseInt(idOfOption[2]);
            $.post('/Surveys/SaveQuastion'
                , { SurveyQuastionId:jsonListSurveyQuastions[quastionIndex].SurveyQuastionId, optionId:jsonListSurveyQuastions[quastionIndex].OptionId }
                , function (data, status) {
                    try {
                    if (data.res == "ok")
                        ;
                    else
                        alert('مشکلی در ذخیره سازی داده ها وجود دارد')
                    } catch (e) {
                        alert('مشکلی در ذخیره سازی داده ها وجود دارد')
                    }
                });
        });
        }
        loadQuastions();
    </script>

}
