@font-face {
    font-family: 'ifont';
    src: url('/netcharge/fonts/ifont.woff') format('woff');
}

html, body {
    font-family: ifont !important;
}

body {
    background: #1f1f1f;
    color: #FFF;
}


a:hover {
    text-decoration: none;
}

.navbar-link {
    font-family: ifont !important;
}

.navbar-nav a {
    color: #02a502 !important;
}

.stik {
    position: -webkit-sticky !important; /* Safari */
    position: sticky !important;
    top: 0;
}

.top {
    height: 200px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background: #;
    background-image: linear-gradient(to right, #D6FF00, #61AC6B);
}

.topover {
    height: 200px;
    top: 0px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    background-image: linear-gradient( to bottom, rgba(31, 31, 31, 0) 0%, rgba(31, 31, 31, 0) 30%, rgba(18,18, 18, 1) 90%, rgba(31, 31, 31, 1) 100%);
}

.topc {
    width: 250px;
    height: 250px;
    position: absolute;
    right: -50px;
    top: -100px;
    border-radius: 50%;
    background: #195905;
}

.hamlogo {
    font-family: SEGOE UI;
    font-size: 20px;
    color: #FFF;
    padding-left: 5px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
}

@media(max-width: 768px) {
    .top {
        height: 230px;
    }

    .topover {
        height: 230px;
    }

    .topc {
        width: 190px;
        height: 190px;
        position: absolute;
        right: -90px;
        top: -90px;
        border-radius: 50%;
        background: #195905;
    }
}

.mmenu {
    border: 0px;
    background: transparent;
    color: #FFF;
    font-size: 26px;
    margin-top: 30px;
}

.menumodal .modal-content {
    border-radius: 20px !important;
    border: 0px !important;
}

modal-header {
    direction: rtl !important;
    text-align: right !important;
    display: block;
    width: 100%;
}

.modal-cc {
    text-align: right;
    display: block;
    width: 100%;
}

.modal-radius {
    border-radius: 20px !important;
    border: 0px !important;
}

.menumodal .modal-content ul {
    width: 100%;
}

.menumodal .modal-content li {
    background:;
    display: block;
    width: 100%;
    border-bottom: 1px solid #313131;
    margin-bottom: 7px;
    padding-bottom: 7px;
    font-size: 15px;
}

.menumodal .modal-content a {
    display: block;
}

.aricon {
    margin-top: 6px;
    font-size: 13px;
}

.menumodal .modal-content li:last-child {
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.menumodal .modal-content li span {
    float: left;
}

@media(max-width: 768px) {
    .menumodal .modal-content {
        margin: 10%;
        width: 80%;
    }
}


.wallet-bg {
}

.wallc {
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
    height: 40px !important;
    width: 40px !important;
    z-index: 9999;
    text-align: center !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
}

@media(max-width: 768px) {
    .wallet-bg {
    }

    .wallet {
        width: 90%;
        margin: 20% 5% 0px 5%;
    }
}

.bbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    height: 60px;
    bottom: 0px;
    /*background: #383838;*/
    box-shadow: 0px -10px 19px -12px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px -10px 19px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 19px -12px rgba(0,0,0,0.75);
}

@media(min-width: 768px) {
    .bbar {
        display: none;
    }
}

.wallet-btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: linear-gradient(#ffffff, #cccccc);
    position: absolute;
    top: 2px;
    left: calc(50% - 25px);
    text-align: center;
    padding-top: 13px;
    box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.5);
}

.wallet-btn-border {
    position: absolute;
    top: 2px;
    left: calc(50% - 25px);
    z-index: -9;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    overflow: hidden;
    background: linear-gradient(to right, #ddd 20%, #ddd 40%, #008000 50%, #008000 55%, #ddd 70%, #ddd 100%);
    background-size: 200% auto;
    animation: shine 3s linear infinite;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

/************************* BTN ***********************/

.n-btn {
    float: right;
    width: 30px;
    color: #FFF;
    margin-left: 10px;
    margin-top: -3px;
}

.i-btn {
    width: 100px;
    height: 100px;
    color: #FFF;
    margin-left: calc(50% - 50px);
    margin-top: 8px;
    font-size: 13px;
}

    .i-btn img {
        width: 50px;
        margin-left: calc(50% - 25px);
        margin-top: 7px;
        display: block;
        margin-bottom: 8px;
    }

.ibtn {
    text-align: center;
    font-size: 14px;
}

.ibtn-padd {
    padding-left: 10% !important;
    padding-right: 10% !important;
}

.c-btn {
    border-radius: 8px;
    padding: 6px 5px 0px 5px;
    text-align: center;
}

.c-green {
    background-color: #a0d368;
    background-image: linear-gradient(#a0d368, #8ec153);
    box-shadow: 0px 2px 10px #8ec153;
}

.c-dark {
    /*background-color: #383838;*/
    border-radius: 15px;
}

.c-red {
    background-color: #ec5666;
    background-image: linear-gradient(#ec5666, #d94759);
    box-shadow: 0px 2px 10px #ec5666;
}

.c-yellow {
    background-color: #ffcd55;
    background-image: linear-gradient(#ffcd55, #f9ba39);
    box-shadow: 0px 2px 10px #ffcd55;
}

.c-violet {
    background-color: #ac92eb;
    background-image: linear-gradient(#ac92eb, #987bdc);
    box-shadow: 0px 2px 10px #ac92eb;
}

.c-blue {
    background-color: #5e9ceb;
    background-image: linear-gradient(#5e9ceb, #2c77d5);
    box-shadow: 0px 2px 10px #5e9ceb;
}


/****************************************************************************/

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 9%;
}

.column {
    flex: 33.33%;
}


/****************************************************************************/

d-none {
    display: block !important;
}

/****************************************************************************/

.avatar {
    margin-top: 150px;
}

@media(max-width: 992px) {
    .avatar {
        display: none;
    }
}

.avatar a:link, .avatar a:visited {
    color: #008000;
}

.avatar a:hover {
    color: #195905;
}

.wallet-bg a:link, .wallet-bg a:visited {
    color: #008000;
    font-size: 14px;
}

.wallet-bg a:hover {
    color: #195905;
}

.wallet-bg img {
    margin-bottom: 10px;
}

.avatar .avt {
    overflow: hidden;
}

    .avatar .avt img {
        width: 100%;
    }

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.payy {
    margin-top: -10px;
}

@media(max-width: 768px) {
    .avatar {
        margin-top: 110px;
    }

        .avatar .avt img {
            margin-top: 5px;
            width: 75px;
        }

        .avatar .row {
        }
}

@media(max-width: 448px) {
    .avatar .row {
    }
}

.uinfo {
    background-color: #FFF;
    width: 100%;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    font-size: 14px;
    transition-duration: 0.3s;
}

    .uinfo:hover {
        box-shadow: 0px 5px 10px rgba(0, 128, 0, 0.2);
        border: 1px solid rgba(0, 128, 0, 1);
        transition-duration: 0.3s;
    }

    .uinfo img {
        box-shadow: none;
        width: 52px;
        padding-bottom: 5px;
    }

.uitext {
    padding: 15px;
}

    .uitext hr {
        margin: 12px 0;
    }

@media(max-width: 768px) {
    .uitext {
        padding: 10px 15px;
    }

        .uitext hr {
            margin: 8px 0;
        }
}

.uinm {
    padding-top: 15px;
}

    .uinm img {
        width: 50px;
    }

@media(max-width: 768px) {
    .uinm {
        padding-top: 12px;
    }

        .uinm img {
            width: 40px;
        }

    .uinfo {
        height: 85px;
    }
}


/*********************** card *************************/

.card-bg {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

    .card-bg video {
        width: 100%;
        left: 0px;
        top: 0px;
        position: absolute;
        border-radius: 10px;
        z-index: 1;
    }

    .card-bg img {
        width: 100%;
        border-radius: 10px;
        transition-duration: 0.2s;
        position: relative;
        z-index: 2;
    }

        .card-bg img:hover {
            transform: scale(1.05);
            transition-duration: 0.2s;
        }

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    left: 60%;
    transform: translate(-50%, 0);
    bottom: -5px;
    z-index: -2;
    border-radius: 20px;
    filter: blur(15px);
}

    .shadow .shadow-img {
        margin-top: 3rem;
        object-fit: cover;
    }

.pro-mob {
    display: none;
}

@media(max-width: 992px) {
    .pro-desk {
        display: none;
    }

    .pro-mob {
        display: block;
        margin-top: 45px;
    }
    .three h1, .container h1 {
        margin-top: -5px;
        font-size: 12px;
    }
}


/************************ snap ********************/

.gallerys {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(10, 85vw);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: 1rem;
}

.activez {
    scroll-snap-type: unset;
}

.snaps {
    scroll-snap-align: center;
    display: inline-block;
    border-radius: 3px;
    font-size: 0;
}

    .snaps img {
        display: block;
    }

.snapd {
    position: relative;
    margin-bottom: 13px;
    margin-top: 60px;
}

.space {
    height: 100px;
}

@media(min-width: 768px) {
    .mmod {
        max-width: 360px;
        margin-left: 10%;
    }
}

.logoutm {
    margin-top: 50%;
    box-shadow: 0px 0px 25px #000;
}

.form-group label {
    margin-right: 10px;
    background: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    padding: 0px 7px;
    color: #00a900 !important;
    position: relative;
    z-index: 10;
}

.form-group .form-control {
    margin-top: -18px !important;
    height: 46px !important;
    background: #ffffff;
    color: #FFF;
    border: 1px solid rgba(0, 128, 0, 0.7) !important;
    border-radius: 7px !important;
}

.form-group .form-control:hover, .form-group .form-control:focus {
    border: 1px solid rgba(0, 128, 0, 1) !important;
    box-shadow: 0px 0px 8px rgba(0, 128, 0, .7) !important;
}

.form-group textarea {
    margin-top: -18px;
    border-radius: 5px;
    border: 1px solid rgba(0, 128, 0, 0.5) !important;
}

    .form-group textarea:hover, .form-group textarea:focus {
        border: 1px solid rgba(0, 128, 0, 1) !important;
        box-shadow: 0px 0px 8px rgba(0, 128, 0, .7);
    }

.ifcode {
    font-size: 14px;
    color: orange;
    margin-top: 5px;
}

.logimg {
    text-align: left;
}

    .logimg img {
        width: 500px;
    }

.regimg {
    text-align: left;
}

    .regimg img {
        width: 500px;
    }

.forimg {
    text-align: left;
}

    .forimg img {
        width: 500px;
    }


.reg-d {
    margin-top: 40px;
}

@media(min-width: 768px) {
    .forgot {
        margin-top: 25px;
    }
}

@media(max-width: 768px) {
    .logimg img {
        width: 80%;
        margin-top: -20px;
    }

    .logimg {
        text-align: center;
    }

    .regimg img {
        width: 100%;
        margin-top: -20px;
    }

    .regimg {
        text-align: center;
    }

    .forimg img {
        width: 100%;
        margin-top: -10px;
    }

    .forimg {
        text-align: center;
    }

    .mobile-none {
        display: none;
    }

    .reg-d {
        margin-top: 40px;
    }

    .forgot h2 {
        display: none;
    }
}

.forgot h4 {
    font-size: 15px;
}

.form-group span {
    font-size: 14px;
    margin-top: 5px;
}

.hhnav {
    display: none !important;
}

.fcapt {
    color: #000 !important;
    padding: 0px !important;
    font-size: 16px;
    line-height: 30px;
}

.slidec {
    height: 80px;
}

.sliv {
    margin-top: 20%;
}

.ccx {
    height: 360px;
}

/************************** ADS BOX *********************/

.ads-boxz {
    cursor: pointer;
    width: 100%;
    border: 1px solid #008000;
    box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 25px;
}

    .ads-boxz img {
        width: 40%;
        margin-bottom: 15px;
    }

@media(max-width: 768px) {
    .ads-boxz {
        font-size: 12px;
        padding: 15px 0px 10px 0px;
    }

        .ads-boxz img {
            width: 40%;
            margin-bottom: 10px;
        }
}

.r3s {
    margin-top: -16px;
}

@media(min-width: 768px) {
    .r3e {
        margin-top: 20px;
    }

    .r3s {
        margin-top: 30px;
    }

    .space {
        height: 50px;
    }
}

.box-card img {
    border-radius: 10px;
}

.titlee h4 {
    font-size: 20px;
    margin-top: 15px;
}


@media(min-width: 768px) {
    .box-card img {
        width: 70%;
    }

    .titlee h4 {
        margin-top: 25px;
    }
}

* {
    text-align:right;
    color:white;
}
.three h1, .container h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0em;
    text-align:right;
    padding-bottom: 28px;
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #D6FF00;
}


@media(max-width: 768px) {
    .three h1, .container h1 {
        margin-top: 100px;
    }
}

.three h1:before, .container h1:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #D6FF00;
}

.three h1:after, .container h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 100%;
    background-color: #D6FF00;
}

.panel-body h4 {
    font-size: 15px;
    text-align: justify;
    padding: 20px;
    line-height: 25px;
}

select {
    direction: rtl;
    text-align: right;
}

@media(min-width: 768px) {
    .filimo {
        margin-top: 30px;
    }
}

.insicon {
    text-align: center;
}

    .insicon h5 {
        font-size: 15px !important;
        padding-bottom: 15px;
    }

    .insicon img {
        width: 90%;
        margin-bottom: 10px;
        border-radius: 50%;
    }

@media(max-width: 768px) {
    .insicon img {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 50%;
    }
}

.insicon img:hover {
    box-shadow: 0px 0px 15px rgba(232, 65, 24, 1);
    transition-duration: 0.3s;
}

.g4 {
    text-align: center;
}

    .g4 img {
        width: 80%;
    }

@media(max-width: 768px) {
    .g4 img {
        margin-bottom: 20px;
    }
}

.foo img {
    width: 150px;
}

.mmcv {
    display: none;
}

.mmcc {
    display: block;
}

@media(max-width: 768px) {
    .foo img {
        width: 100px;
    }

    .mmcv {
        display: block;
    }

    .mmcc {
        display: none;
    }
}


.profimg {
    width: 70%;
}

.chpassimg {
    width: 60%;
}


@media(max-width: 768px) {
    .profimg, .chpassimg {
        display: block;
    }
}

/*****************************************************************************************/

.iconn div {
    font-size: 14px !important;
}

fieldset {
    width: 100%;
    direction:rtl;
}

.allpart {
    padding: 0px;
    margin: 0px;
}


.insurance .cl-right {
    border-bottom: 1px solid #008000;
    border-top: 1px solid #1f1f1f;
    border-left: 1px solid #1f1f1f;
    border-right: 1px solid #1f1f1f;
    width: 100%;
    float: right !important;
    padding: 10px 10px 10px 0px;
    font-size: 14px;
    text-align: right;
}

    .insurance .cl-right:hover {
        border-radius: 5px;
        border: 1px solid #00c100;
    }

.insurance .cl-right-active {
    background-color: #fafafa;
    border-radius: 5px;
    border: 1px solid #008000;
}


.insurance .cl-left {
    float: left;
    text-align: left !important;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
}

.progress, .progress-bar {
    height: 8px !important;
}

@media(max-width: 768px) {
    .coming {
        font-size: 16px;
        line-height: 30px;
    }
}

.desx {
    line-height: 40px;
}

.backb {
    position: absolute;
    left: 0px;
    margin-top: 5px;
    font-size: 15px;
}

    .backb a {
        color: #fff !important;
    }

.datat {
    position: relative;
}


#DataTables_Table_0_wrapper .dt-buttons, #DataTables_Table_1_wrapper .dt-buttons, #DataTables_Table_2_wrapper .dt-buttons, #DataTables_Table_3_wrapper .dt-buttons, #DataTables_Table_4_wrapper .dt-buttons, #t1_wrapper .dt-buttons {
    position: absolute !important;
    left: 15px !important;
    top: 0px;
    width: 32px !important;
}


@media(max-width: 768px) {
    #DataTables_Table_0_wrapper .dt-buttons, #DataTables_Table_1_wrapper .dt-buttons, #DataTables_Table_2_wrapper .dt-buttons, #DataTables_Table_3_wrapper .dt-buttons, #DataTables_Table_4_wrapper .dt-buttons, #t1_wrapper .dt-buttons {
        top: 5px;
    }
}

.buttons-html5, .buttons-print {
    text-align: left !important;
    direction: ltr !important;
    text-indent: 15px;
}

.buttons-collection {
    margin-top: -8px;
}

.aparat p {
    text-align: justify !important;
    margin-top: 10px !important;
}

.imgr a {
    text-align: justify !important;
    margin-top: 10px !important;
}

.aparat iframe {
    border-radius: 10px !important;
}

.imgr img {
    border-radius: 10px;
    border: 3px solid #008000;
    margin-bottom: 10px;
}

.shaba {
    padding-left: 35px !important;
}

.ir {
    float: left;
    margin-left: 14px;
    margin-top: -35px;
}

.cbtn {
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.card-header {
    padding: 0px !important;
}

.carr {
    float: left;
}

.accordion, .card, .card-header {
    border: 0px !important;
    background: #1f1f1f;
    color: #FFF;
}

.mslider .sll {
    padding: 10px !important;
    position: relative;
}

.mlinks {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

    .mlinks a {
        color: #000;
    }

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes zoomin {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}


.mli img {
    margin-bottom: 5px;
    margin-left: calc(50% - 20px);
    width: 40px;
    display: block;
}

.mli5 img {
    width: 100px;
    margin-left: calc(50% - 50px);
}

.mli a, .mli2 a {
    font-size: 14px;
}

.mli {
    float: right;
    width: 50%;
    text-align: center;
    position: relative;
    padding: 5px 0px;
}

.mli2 {
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    padding: 15px 0px;
}

    .mli2 .bl-border {
        background: linear-gradient(to right, #999, transparent);
        height: 1px;
        width: 50%;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .mli2 .br-border {
        background: linear-gradient(to left, #999, transparent);
        height: 1px;
        width: 50%;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

.mli .ls-border {
    background: linear-gradient(to top, #999, transparent);
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.mli .lbs-border {
    background: linear-gradient(to bottom, #999, transparent);
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.mli .rs-border {
    background: linear-gradient(to top, #999, transparent);
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.mli .r-border {
    background: #999;
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.mli .l-border {
    background: #999;
    height: 100%;
    width: 1px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}


.mli .bl-border {
    background: linear-gradient(to right, #999, transparent);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.mli .br-border {
    background: linear-gradient(to left, #999, transparent);
    height: 1px;
    width: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.ssmg {
    width: 46px !important;
    margin-left: calc(50% - 23px) !important;
    display: block !important;
}

.ssmg2 {
    width: 57px !important;
    height: 40px !important;
    margin-left: calc(50% - 28px) !important;
    display: block !important;
}

.ssmg3 {
    width: 73px !important;
    height: 40px !important;
    margin-left: calc(50% - 36px) !important;
    display: block !important;
}

.mli a {
    color: #000;
}


/************************* MODAL ************************/

.modal .modal-content {
    /*background: #383838;*/
    border: 1px solid rgba(0, 128, 0, 1) !important;
    box-shadow: 0px 0px 15px rgba(0, 128, 0, 0.8);
}

.modal-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    -webkit-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    transform: translate(100%,0);
}

.modal-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    -webkit-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    transform: translate(-100%,0);
}

.modal-bottom {
    position: absolute;
    bottom: 0px;
    margin: 0;
    -webkit-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);
}

.modal-full {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    max-width: 100%;
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.modal.show .modal-custom {
    transition: transform 0.3s linear;
}

/* modal vertical center */
.modal.show .modal-center {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

.rounded-30 {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.modal .modal-header {
    padding-bottom: 10px;
}

    .modal .modal-header h4 {
        font-size: 15px;
        font-weight: bold;
    }


.carousel-nav section {
    display: none;
}

    .carousel-nav section.xshow {
        display: block;
        -webkit-animation: fadein 1s;
        -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
        -o-animation: fadein 1s;
        animation: fadein 1s;
    }



section.xshow .lo1 {
    display: block;
    -webkit-animation: zoomin 0.5s;
    -moz-animation: zoomin 0.5s;
    -ms-animation: zoomin 0.5s;
    -o-animation: zoomin 0.5s;
    animation: zoomin 0.5s;
}

section.xshow .lo2 {
    display: block;
    -webkit-animation: zoomin 1s;
    -moz-animation: zoomin 1s;
    -ms-animation: zoomin 1s;
    -o-animation: zoomin 1s;
    animation: zoomin 1s;
}

section.xshow .lo3 {
    display: block;
    -webkit-animation: zoomin 1.5s;
    -moz-animation: zoomin 1.5s;
    -ms-animation: zoomin 1.5s;
    -o-animation: zoomin 1.5s;
    animation: zoomin 1.5s;
}

section.xshow .lo4 {
    display: block;
    -webkit-animation: zoomin 2s;
    -moz-animation: zoomin 2s;
    -ms-animation: zoomin 2s;
    -o-animation: zoomin 2s;
    animation: zoomin 2s;
}

section.xshow .lo5 {
    display: block;
    -webkit-animation: zoomin 2.2s;
    -moz-animation: zoomin 2.2s;
    -ms-animation: zoomin 2.2s;
    -o-animation: zoomin 2.2s;
    animation: zoomin 2.2s;
}

section.xshow .lo6 {
    display: block;
    -webkit-animation: zoomin 2.4s;
    -moz-animation: zoomin 2.4s;
    -ms-animation: zoomin 2.4s;
    -o-animation: zoomin 2.4s;
    animation: zoomin 2.4s;
}

section.xshow .lo7 {
    display: block;
    -webkit-animation: zoomin 2.6s;
    -moz-animation: zoomin 2.6s;
    -ms-animation: zoomin 2.6s;
    -o-animation: zoomin 2.6s;
    animation: zoomin 2.6s;
}

section.xshow .lo8 {
    display: block;
    -webkit-animation: zoomin 2.8s;
    -moz-animation: zoomin 2.8s;
    -ms-animation: zoomin 2.8s;
    -o-animation: zoomin 2.8s;
    animation: zoomin 2.8s;
}

section.xshow .lo9 {
    display: block;
    -webkit-animation: zoomin 3s;
    -moz-animation: zoomin 3s;
    -ms-animation: zoomin 3s;
    -o-animation: zoomin 3s;
    animation: zoomin 3s;
}

section.xshow .lo10 {
    display: block;
    -webkit-animation: zoomin 3.1s;
    -moz-animation: zoomin 3.1s;
    -ms-animation: zoomin 3.1s;
    -o-animation: zoomin 3.1s;
    animation: zoomin 3.1s;
}

section.xshow .lo11 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo12 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo13 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo14 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo15 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo16 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo17 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo18 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo19 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
section.xshow .lo20 {
    display: block;
    -webkit-animation: zoomin 3.2s;
    -moz-animation: zoomin 3.2s;
    -ms-animation: zoomin 3.2s;
    -o-animation: zoomin 3.2s;
    animation: zoomin 3.2s;
}
.owl-nav {
    display: none !important;
}

.ssem {
    border-radius: 10px;
}

.bc {
    background: #e0e0e0;
}

.bb div {
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 768px) {
    .btn-sm-block {
        display: block;
        width: 100%;
    }
}

.datat thead {
    font-size: 14px !important;
}

.datat tbody {
    font-size: 14px !important;
}


.dradius {
    border-radius: 8px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}


.flv {
    position: relative;
    overflow: hidden;
}

    .flv input {
        position: absolute;
        font-size: 50px;
        opacity: 0;
        right: 0;
        top: 0;
    }

.hasInsurance {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.smenu {
    width: 20%;
    float: right;
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
}

    .smenu a {
        color: #FFF;
    }

.m0 {
    padding: 0px !important;
    margin: 0px !important;
}

.bg-gg {
    background-color: #249a48 !important;
    color: #FFF !important;
}


.prolist {
    height: 100px;
    overflow: hidden;
    transition: height 0.2s ease;
}

    .prolist div {
        height: 30px;
        line-height: 30px;
    }

    .prolist.profile--expanded {
        height: 470px;
        animation: expand 0.5s ease;
    }



@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes unreveal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes expand {
    0% {
        height: 100px;
    }

    100% {
        height: 470px;
    }
}

@keyframes unexpand {
    0% {
        height: 470px;
    }

    100% {
        height: 100px;
    }
}









.prolist2 {
    height: 100px;
    overflow: hidden;
    transition: height 0.2s ease;
}

    .prolist2 div {
        height: 30px;
        line-height: 30px;
    }

    .prolist2.profile--expanded2 {
        height: 280px;
        animation: expand2 0.5s ease;
    }



@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes unreveal2 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes expand2 {
    0% {
        height: 100px;
    }

    100% {
        height: 280px;
    }
}

@keyframes unexpand2 {
    0% {
        height: 470px;
    }

    100% {
        height: 100px;
    }
}



.dataTables_wrapper .dataTables_info {
    display: none;
}

.dataTables_wrapper .dataTables_paginate {
}

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-radius: 4px;
        background: #FFF;
        margin-left: 3px;
        margin-right: 3px;
        border: 1px solid #ccc;
        padding: 0px 5px !important;
    }

        .dataTables_wrapper .dataTables_paginate .paginate_button a {
            color: #000;
            padding: 0px 3px !important;
        }

    .dataTables_wrapper .dataTables_paginate .active {
        color: green;
        background: #eee;
        padding: 0px 5px !important;
    }

.bititle {
    font-size: 18px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px 15px 20px 15px;
    color: #FFF;
    text-shadow: 1px 1px 2px #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(#008000, #FFFFFF);
}

.atitle {
    border: 1px solid #CCC;
    padding: 15px 10px 10px 10px !important;
    border-radius: 10px;
    direction: rtl;
    text-align: right;
    width: 90%;
    margin-left: 5%;
    margin-top: -10px;
    margin-bottom: 30px;
    background-image: linear-gradient(#FFF, #CCC);
}

.addborder {
    border: 1px solid #008000;
    border-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -10px;
    padding: 10px;
}

.ttext {
    font-size: 14px;
}

.addborder .ttext:not(:first-child) {
    border-top: 1px solid #CCC;
    padding-top: 10px;
    margin-top: 10px;
}

.bbti {
    border-left: 1px solid #008000;
    border-right: 1px solid #008000;
}






:root {
    -btn-primary: #4285f4;
    -btn-default: #2bbbad;
    -btn-secondary: #a6c;
    -btn-success: #00c851;
    -btn-info: #33b5e5;
    -btn-warning: #fb3;
    -btn-danger: #ff3547;
}

.btn {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: 10px;
    font-size: 14px;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    border: 0;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

    .btn:focus, .btn:hover {
        text-decoration: none;
    }

    .btn:active, .btn:focus, .btn:hover {
        -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
        outline: 0;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary {
    background-image: linear-gradient(#4285f4, #1e63d5) !important;
    color: #fff;
}

.btn-outline-primary {
    border: 1px solid #4285f4;
    color: #4285f4;
    background-image: linear-gradient(#FFF, #ddd) !important;
}


.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    background-color: #0b51c5 !important;
}


.btn-default {
    background: #FFF !important;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.16), 0 0px 0px 0 rgba(0,0,0,.12);
    color: #2bbbad;
}

.btn-outline-default {
    border: 1px solid #2bbbad;
    color: #2bbbad;
    background-image: linear-gradient(#FFF, #ddd) !important;
}


.btn-secondary {
    background-image: linear-gradient(#a6c, #8e39b9) !important;
    color: #fff;
}

.btn-outline-secondary {
    border: 1px solid #a6c;
    color: #a6c;
    background-image: linear-gradient(#FFF, #ddd) !important;
}


.btn-success {
    background-image: linear-gradient(#00c851, #249a48) !important;
    color: #fff;
}

.btn-outline-success {
    border: 1px solid #00c851;
    color: #00c851;
    background-image: linear-gradient(#FFF, #ddd) !important;
}

.btn-info {
    background-image: linear-gradient(#33b5e5, #138bb8) !important;
    color: #fff;
}

.btn-outline-info {
    border: 1px solid #33b5e5;
    color: #33b5e5;
    background-image: linear-gradient(#FFF, #ddd) !important;
}

.btn-warning {
    background-image: linear-gradient(#fb3, #efa40f) !important;
    color: #fff;
}

.btn-outline-warning {
    border: 1px solid #efa40f;
    color: #efa40f;
    background-image: linear-gradient(#FFF, #ddd) !important;
}

.btn-danger {
    background-image: linear-gradient(#ff3547, #de0a1d) !important;
    color: #fff;
}

.btn-outline-danger {
    border: 1px solid #ff3547;
    color: #ff3547;
    background-image: linear-gradient(#FFF, #ddd) !important;
}

.datat .btn-group button {
    border: 0px !important;
    background: #FFF !important : border-shadow: 0px !important;
}




.lands {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    padding-top: 50px;
    z-index: 99999;
    background: #FFF;
    text-align: center;
}

.land-icon {
    padding: auto;
    margin: auto;
}

@media (orientation: landscape) and (max-width: 777px) {

{
    .lands

{
    display: block;
}
}
