.top-center-title {
    font-family: fontbold;
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    color: #FFF;
  }

/************** SELECT BOX **************/ 

  
.select-group img {
    right: calc(50% - 11px);
}

@media(min-width: 768px) {
    .select-group, .sng {
      float: right;
    }
    .select-hotel {
        text-align: right;
    }
    .select-group img {
        display: none;
    }
}


.select-box {
    float: right;
}

.select-box:last-child {
    margin-right: 2%;
  }

.modal-header .btn-close {
    margin: -.5rem -.5rem -.5rem auto;
}

.search-item i {
    margin-left: 10px;
}


.box-4-text {
  float: right;
}

.box-4-icon {
    float: right;
}

.bnav .menu {
    float: right;
}

.profile-list i {
    padding-left: 15px;
}
  
.box-big-icon .text {
  float: right;
}

.box-big-icon .icon {
    float: right;
    margin-left: 20px;
}

.search-top .icon-left,
.search-top .icon-right,
.search-top .search-detail {
    float: left !important;
    padding: 5px;
}

.search-menu-3 .menu-3 {
    float: right;
}

.hotel-list .hotel-img,
.hotel-list .hotel-detail {
    float: right;
}

.hotel-list .hotel-img {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.hotel-thumb, .hotel-info i {
    margin-left: 10px;
}

.accordion-button::after {
    position: absolute;
    left: 15px;
}

.reserve-price, .reserve-button {
float: right;
width: 50%;
}

.btn-close {
    margin: -1rem auto -1rem -1rem;
  }