
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@section Scripts{ 
<script>
    $.get('/JsonData/GetData?typeData=100020&key10=428', function (data) {
        var dddd = JSON.parse(data);
        debugger;
        alert(dddd[0].NationalCode);
    });
</script>
}